{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_tags.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/healthy-recipes/add">
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <button type="submit"  class="btn btn-compose">
                            <i class="fa fa-flag"></i>
                            {% if healthy is defined %}
                                Update
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <label for="slidetoggle">Set as slider ?</label>
                        <input id="slidetoggle" type="checkbox" name="isSlider" {{ healthy.slider is defined and not(healthy.slider == null) ? 'checked' : '' }}>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Featured Image</h4> </li>
                            {% if healthy is defined %}
                                <li>
                                    <img src="{{ healthy.featuredImage }}" class="image-preview-widget">
                                </li>
                            {% endif %}
                            <li><input type="file" name="image" {% if not(healthy is defined) %}required="required"{% endif %}></li>
                            {% if healthy is defined %}
                                <input type="hidden" name="id" value="{{ healthy.id }}" />
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Dinner Menu</h4> </li>
                            {% if healthy is defined %}
                                {% for dinnerMenu in dinnerMenus %}
                                    {% set flag = 0 %}
                                    {% for d in healthy.dinnerMenu %}
                                        {% if d.id == dinnerMenu.id %}
                                            {% set flag = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <li>
                                        <label for="{{ 'd'~dinnerMenu.id }}">{{ dinnerMenu.name }}</label><input type="checkbox" value="{{ dinnerMenu.id }}" id="{{ 'd'~dinnerMenu.id }}" name="dinnerMenu[]" class="pull-right" {{ flag == 1 ? 'checked' : '' }}>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for dinnerMenu in dinnerMenus %}
                                    <li>
                                        <label for="{{ 'd'~dinnerMenu.id }}">{{ dinnerMenu.name }}</label><input type="checkbox" value="{{ dinnerMenu.id }}" id="{{ 'd'~dinnerMenu.id }}" name="dinnerMenu[]" class="pull-right">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>


                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Recipe Menu</h4> </li>
                            {% if healthy is defined %}
                                {% for recipeMenu in recipeMenus %}
                                    {% set flag = 0 %}
                                    {% for m in healthy.recipeMenu %}
                                        {% if m.id == recipeMenu.id %}
                                            {% set flag = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <li>
                                        <label for="{{ 'r'~recipeMenu.id }}">{{ recipeMenu.name }}</label><input type="checkbox" value="{{ recipeMenu.id }}" id="{{ 'r'~recipeMenu.id }}" name="recipeMenu[]" class="pull-right" {{ flag == 1 ? 'checked' : '' }}>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for recipeMenu in recipeMenus %}
                                    <li>
                                        <label for="{{ 'r'~recipeMenu.id }}">{{ recipeMenu.name }}</label><input type="checkbox" value="{{ recipeMenu.id }}" id="{{ 'r'~recipeMenu.id }}" name="recipeMenu[]" class="pull-right">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Tags</h4> </li>
                            <li>
                                <input id="tags_1" type="text" class="tags" value="
                                {% if healthy is defined %}
                                    {% for tag in healthy.tags %}
                                        {% if loop.last %}
                                            {{ tag.name }}
                                        {% else %}
                                            {{ tag.name~',' }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                " name="tags" />
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">

                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            {% if healthy is defined %}
                                Update Healthy Recipe - {{ healthy.title }}
                            {% else %}
                                Add a New Healthy Recipe
                            {% endif %}
                        </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Title</label>
                                <input type="text" tabindex="1" id="title" class="form-control" name="title" value="{% if healthy is defined %}{{ healthy.title }}{% endif %}">
                            </div>

                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="10" name="content" placeholder="Insert your recipe..">{% if healthy is defined %}{{ healthy.content }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.js'

    output='templates/admindump/js/compiled_tags.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('#tags_1').tagsInput({width: 'auto'});

        $('.wysihtml5').wysihtml5();
    </script>
{% endblock %}