{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'templates/fleava_admin/js/advanced-datatable/css/demo_page.css'
    'templates/fleava_admin/js/advanced-datatable/css/demo_table.css'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_table.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    All Healthy Recipes
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th width="100">Thumbnail</th>
                                    <th style="width: 50%">Title</th>
                                    <th>Created On</th>
                                    <th class="hidden-phone">Slider</th>
                                    <th class="hidden-phone">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for recipe in recipes %}
                                <tr class="gradeX">
                                    <td><img src="{{ recipe.featuredImage }}" alt="" width="60" height="60"></td>
                                    <td><strong>{{ recipe.title }}</strong><br>
                                        {% set content = recipe.content|raw %}
                                        {% set content = content|length > 50 ? content|slice(0,50) ~ '...' : content %}
                                        {{ content|raw }}
                                    </td>
                                    <td>{{ recipe.createdOn }}</td>
                                    <td class="hidden-phone">
                                        {% if recipe.slider != null %}
                                            <span class="label label-success">YES</span>
                                        {% else %}
                                            <span class="label label-default">NO</span>
                                        {% endif %}
                                    </td>
                                    <td class="center hidden-phone">
                                        <a href="/admin/healthy-recipes/edit/{{ recipe.id }}" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                        <a href="/admin/healthy-recipes/delete/{{ recipe.id }}" class="btn btn-white active" onclick="return confirm('Delete? This action cannot be undone.');"> <i class="fa fa-trash-o"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/advanced-datatable/js/jquery.dataTables.js'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.js'
    '@ChefAdminBundle/Resources/public/js/feed_tbl_custom.js'

    output='templates/admindump/js/compiled_table.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}