{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'templates/fleava_admin/js/advanced-datatable/css/demo_page.css'
    'templates/fleava_admin/js/advanced-datatable/css/demo_table.css'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Page Manager
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Page Title</th>
                                    <th class="hidden-phone">Url</th>
                                    <th class="hidden-phone" style="width: 15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td><strong>Homepage</strong></td>
                                <td class="hidden-phone">/</td>
                                <td class="center hidden-phone">
                                    <a href="/" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/home" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Workout - Introduction</strong></td>
                                <td class="hidden-phone">/workout#introduction</td>
                                <td class="center hidden-phone">
                                    <a href="/workout#introduction" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/workout-introduction" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Workout - High Intensity Training</strong></td>
                                <td class="hidden-phone">/workout#highintens</td>
                                <td class="center hidden-phone">
                                    <a href="/workout#highintens" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/workout-high-intensity-training" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Workout - Fitness and Diet</strong></td>
                                <td class="hidden-phone">/workout#diet</td>
                                <td class="center hidden-phone">
                                    <a href="/workout#fitness-and-diet" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/workout-fitness-and-diet" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Chef</strong></td>
                                <td class="hidden-phone">/chef</td>
                                <td class="center hidden-phone">
                                    <a href="/chef" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/chef" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Cuisine</strong></td>
                                <td class="hidden-phone">/cuisine</td>
                                <td class="center hidden-phone">
                                    <a href="/cuisine" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/cuisine" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Connect</strong></td>
                                <td class="hidden-phone">/connect</td>
                                <td class="center hidden-phone">
                                    <a href="/connect" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/connect" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Journal</strong></td>
                                <td class="hidden-phone">/journal</td>
                                <td class="center hidden-phone">
                                    <a href="/journal" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/journal" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Chef Recipe</strong></td>
                                <td class="hidden-phone">/recipes</td>
                                <td class="center hidden-phone">
                                    <a href="/recipes" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/chef-recipe" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Healthy Recipe</strong></td>
                                <td class="hidden-phone">/healthy</td>
                                <td class="center hidden-phone">
                                    <a href="/healthy" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/healthy" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td><strong>Workout Feeds</strong></td>
                                <td class="hidden-phone">/workout/feeds</td>
                                <td class="center hidden-phone">
                                    <a href="/workout/feeds" target="_blank" class="btn btn-white active"> <i class="fa fa-link"></i> </a>
                                    <a href="/admin/pages/feeds" target="_self" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/advanced-datatable/js/jquery.dataTables.js'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.js'
    '@ChefAdminBundle/Resources/public/js/feed_tbl_custom.js'

    output='templates/admindump/js/compiled.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}