{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@ChefAdminBundle/Resources/public/css/ie.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        <section class="hero-slider large-image medium-header fixed-header">
            <ul class="slides">
                <li class="overlay">
                    <div class="background-image-holder background-parallax">
                        <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_bg.content }}">
                    </div>

                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="edit-area file-container">
                                    <div class="floating-file-1 text-left">
                                        <small class="white">click to change background</small>
                                        <input type="file" name="woin_bg" class="border-edit" />
                                    </div>
                                </div>
                                <img src="/templates/fleava_front/img/logo-workout.png" style="width:130px; height:auto; margin-bottom:10px;" />
                                <h1 class="text-white">Work-Out</h1>
                            </div>
                        </div>
                    </div><!--end of container-->
                </li>
            </ul>
        </section>

        <div role="tabpanel">

        <section class="no-pad large-cto nav nav-tabs" role="tablist">
            <div class="col-sm-4 cto {% block tab1_state %}{% endblock %}" role="presentation">
                <a href="#introduction" aria-controls="introduction" role="tab" data-toggle="tab">
                    <div class=" image-tile">
                        <h2 class="text-white">Introduction</h2>
                        <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.global.wo_tab_1.alias }}">
                            {{ points.global.wo_tab_1.content }}
                        </p>
                        <i class="large-icon pe-7s-note2"></i>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 cto {% block tab2_state %}{% endblock %}" role="presentation">
                <a href="#highintens" aria-controls="highintens" role="tab" data-toggle="tab">
                    <div class=" image-tile">
                        <h2 class="text-white">High intensity training</h2>
                        <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.global.wo_tab_2.alias }}">
                            {{ points.global.wo_tab_2.content }}
                        </p>
                        <i class="large-icon pe-7s-stopwatch"></i>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 cto {% block tab3_state %}{% endblock %}" role="presentation">
                <a href="#diet" aria-controls="diet" role="tab" data-toggle="tab">
                    <div class=" image-tile">
                        <h2 class="text-white">Fitness and diet</h2>
                        <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.global.wo_tab_3.alias }}">
                            {{ points.global.wo_tab_3.content }}
                        </p>
                        <i class="large-icon pe-7s-bicycle"></i>
                    </div>
                </a>
            </div>



        </section>

        <div class="tab-content white-bg">
            {% block active_tab %}{% endblock %}
        </div>

        <!-- THE WORKOUT FEED -->

        <section class="team-2 mediumdark-bg lightbox-gallery1" id="the_journal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <div class="edit-area">
                            <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.feed.wofeed_title1.alias }}">
                                {{ points.feed.wofeed_title1.content|raw }}
                            </h1>
                        </div>
                        <div class="edit-area">
                            <p class="text-white lead border-edit editable-area" contenteditable="true" data-name="{{ points.feed.wofeed_subtitle1.alias }}">
                                {{ points.feed.wofeed_subtitle1.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for feed in feeds %}
                    <div class="col-md-4 col-sm-6 team-member">
                        <div class="blog-snippet-1 image-snippet woblog overlay">
                            <div class="background-image-holder">
                                <img alt="Slide Background" class="background-image" src="{{ feed.featuredImage }}">
                            </div>
                            <div class="text-content">
                                <span class="date alt-font uppercase">{{ feed.createdOn|date("F nS Y") }}</span>
                                <h5>{{ feed.title }}</h5>
                                <p>{{ feed.content }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                </div>
        </section>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    $(function () {
        var url = window.location.href;

        var index = url.indexOf("#");
        if(url.indexOf("#") > -1) {
            var id = url.substring(index);
            var $window = $(window);

            $this = $(".cto").find("a[href="+id+"]");
            var finalScroll = $this.offset().top - 60;
            $this.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        }
    });
</script>
{% endblock %}