{% extends 'ChefFrontBundle::base.html.twig' %}

{% block nav_primary_class %}home-nav-hide{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@ChefAdminBundle/Resources/public/css/ie.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block nav_alt %}
    <nav class="navbar navbar-default ie-bar">
        <div class="container-fluid no-pad-both">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse no-pad-left">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <img src="http://fleava.com/fleava-files/uploads/2014/12/logowhiteretina.png" class="ie-logo">
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="list-cnt">
                        <button class="btn-pub" type="button">Publish</button>
                    </li>
                    <li>
                        <a href="/admin/pages" class="close" style="padding: 0px !important;">
                            <div class="ie-close"></div>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="clearfix"></div>

    <div class="nav-container"></div>
{% endblock %}

{% block nav_bar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/templates/fleava_admin/js/ckeditor/ckeditor.js"></script>
    <script src="/templates/fleava_admin/js/jquery.blockui.js"></script>

    <script>
        $(".enable-editing").on('click', function() {
            CKEDITOR.disableAutoInline = true;
            CKEDITOR.inline( 'editor1' );
            CKEDITOR.pasteFromWordRemoveFontStyles = false;
            CKEDITOR.pasteFromWordRemoveStyles = false;
        });

        $(".close").on('click', function() {
            $.blockUI({ message: '<h4 style="margin-top: 20px"><img src="/templates/fleava_admin/images/pin_loading.gif" /> Closing Page editor..</h4>' });
        });

        $("#form").submit(function(event) {
            $.blockUI({ message: '<h4 style="margin-top: 20px"><img src="/templates/fleava_admin/images/pin_loading.gif" /> Save changes..</h4>' });

            $(".ux_input").children().remove();
            $.each($(".editable-area"), function(i, v) {
                var content = $(v).html();

                if($(v).data('type') == 'html') {
                    content = $(v).html();
                }

                //create hidden input
                var el = "<input type='hidden' name='"+$(v).data('name')+"' value='"+content+"' />";

                $(".ux_input").append(el);
            });

        });

        $(".btn-pub").click(function() {
            setTimeout(function() {
                $("#form").submit();
            },2);
        });

    </script>
{% endblock %}