{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        {% set chef = points.chefpage %}
        <section class="hero-slider large-image medium-header fixed-header">
            <ul class="slides">
                <li class="overlay">
                    <div class="background-image-holder background-parallax">
                        <img alt="Slide Background" class="background-image" src="{{ chef.chef_bg.content }}">
                    </div>
                    <div class="floating-file text-left" style=" top: 70px;right: 30px; z-index: 999">
                        <small class="white">click to change background</small>
                        <input type="file" name="{{ chef.chef_bg.alias }}" class="border-edit" />
                    </div>

                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_title.alias }}">{{ chef.chef_title.content|raw }}</h1>
                                <h3 class="text-white super-lead border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_name.alias }}">{{ chef.chef_name.content|raw }}</h3>
                            </div>
                        </div>
                    </div><!--end of container-->
                </li>
            </ul>
        </section>

        <section class="duplicatable-content single-pad dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_content1.alias }}">{{ chef.chef_content1.content|raw }}</h4>

                    </div>

                    <div class="col-md-8">
                        <p class="text-white lead border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_content2.alias }}">
                            {{ chef.chef_content2.content|raw }}
                        </p>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </section>

        <section class="text-divider" id="the_chef">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ chef.chef_mdl_bg.content }}">
            </div>
            <div class="floating-file text-left" style=" top: 70px;right: 30px">
                <small class="white">click to change background</small>
                <input type="file" name="{{ chef.chef_mdl_bg.alias }}" class="border-edit" />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <div class="edit-area border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_mdl_content1.alias }}">
                            {{ chef.chef_mdl_content1.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-3-text grey-bg">
            <div class="container">

                <div class="row">

                    <div class="col-sm-5">
                        <div class="detail-line"></div>
                        <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_gray_content1.alias }}">{{ chef.chef_gray_content1.content|raw }}</p>

                    </div>

                    <div class="col-sm-7">
                        <div class="edit-area border-edit editable-area" contenteditable="true" data-name="{{ chef.chef_gray_content2.alias }}">
                            {{ chef.chef_gray_content2.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(".enable-editing").on('click', function() {
            CKEDITOR.disableAutoInline = true;
            CKEDITOR.inline( 'editor1' );
        });
    </script>
{% endblock %}