{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        <section class="hero-slider large-image medium-header fixed-header">
            <ul class="slides">
                <li class="overlay">
                    <div class="background-image-holder background-parallax">
                        <img alt="Slide Background" class="background-image" src="{{ points.connect.connect_bg.content }}">
                    </div>

                    <div class="floating-file text-left" style=" top: 70px;right: 30px; z-index: 999">
                        <small class="white">click to change background</small>
                        <input type="file" name="{{ points.connect.connect_bg.alias }}" class="border-edit" />
                    </div>

                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.connect.connect_title.alias }}">{{ points.connect.connect_title.content|raw }}</h1>
                            </div>
                        </div>
                    </div><!--end of container-->
                </li>
            </ul>
        </section>
    </form>



        <section class="contact-2 double-pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="text-block">
                            <div class="detail-line"></div>
                            <h5>Connect with Nicola</h5>
                            <h4>Get in touch today</h4>
                            <p>
                                {{ connect.content|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="contact-method">
                            <i class="icon pe-7s-phone"></i>
                            <span>{{ connect.phone }}</span>
                        </div>

                        <div class="contact-method">
                            <i class="icon pe-7s-mail-open-file"></i>
                            <span>{{ connect.email }}</span>
                        </div>

                        <div class="contact-method">
                            <i class="icon pe-7s-map-marker"></i>
                            <span>{{ connect.address|raw }}</span>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <form class="email-form">

                            <input class="input-standard validate-required" type="text" name="name" placeholder="Your Name">
                            <input class="input-standard validate-email validate-required" type="text" name="email" placeholder="Email Address">
                            <textarea class="input-standard validate-required" name="message" placeholder="Your Message" rows="4"></textarea>

                            <input type="submit" class="btn btn-sm" value="Send Message">
                            <div class="form-success">
                                <span class="text-white">Message sent - Thanks for your enquiry</span>
                            </div>
                            <div class="form-error">
                                <span class="text-white">Please complete all fields correctly</span>
                            </div>
                        </form>
                    </div>

                </div><!--end of row-->
            </div><!--end of container-->
        </section>

        <section class="instagram-1">
            <div class="instafeed" data-user-name="Nico7gibA">
                <ul></ul>
            </div>

            <div class="container vertical-align">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="#">
                            <h2><i class="icon social_instagram"></i> Nico7gibA</h2><br>
                            <span>Follow me for updates</span>
                        </a>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </section>
{% endblock %}