{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
    <section class="hero-slider large-image medium-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ points.cuisine.cuisine_bg.content }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="floating-file" style="text-align: right; right: 0px">
                                <small class="white">click to change background</small>
                                <input type="file" name="{{ points.cuisine.cuisine_bg.alias }}" class="border-edit" />
                            </div>

                            <img src="/templates/fleava_front/img/logo-cuisine.png" style="width:130px; height:auto; margin-bottom:10px;" />
                            <h1 class="text-white">Cuisine</h1>
                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

    <section class="duplicatable-content single-pad dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <h4 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.cuisine.cuisine_title1.alias }}">{{ points.cuisine.cuisine_title1.content|raw }}</h4>
                    <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.cuisine.cuisine_content1.alias }}">
                        {{ points.cuisine.cuisine_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h4 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.cuisine.cuisine_title2.alias }}">{{ points.cuisine.cuisine_title2.content|raw }}</h4>
                    <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.cuisine.cuisine_content2.alias }}">
                        {{ points.cuisine.cuisine_content2.content|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>

    <section class="no-pad fullscreen-projects" id="the_recipes">

        <div class="project col-sm-6 image-holder">
            <div class="background-image-holder fadeIn">
                <img alt="Project Image" class="background-image" src="{{ recipe.featuredImage }}" style="display: none;">
            </div>
            <div class="hover-state text-center">
                <a href="/recipes" class="vertical-align">
                    <div class="hover-content">
                        <div class="detail-line"></div>
                        <h5 class="text-white">Chef Recipes</h5>
                        <h4 class="text-white">A collection of high quality modern recipes</h4>
                        <i class="icon arrow_right"></i>
                    </div>
                </a>
            </div>
        </div><!--end of inidividual project-->

        <div class="project col-sm-6 image-holder">
            <div class="background-image-holder fadeIn">
                <img alt="Project Image" class="background-image" src="{{ healthy.featuredImage }}" style="display: none;">
            </div>
            <div class="hover-state text-center">
                <a href="/healthy" class="vertical-align">
                    <div class="hover-content">
                        <div class="detail-line"></div>
                        <h5 class="text-white">Healthy Recipes</h5>
                        <h4 class="text-white">A collection of healthy food recipes</h4>
                        <i class="icon arrow_right"></i>
                    </div>
                </a>
            </div>
        </div><!--end of inidividual project-->

    </section>

    <section class="lightbox-gallery1" id="the_gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="border-edit editable-area" contenteditable="true" data-name="{{ points.gallery.gallery_title.alias }}">{{ points.gallery.gallery_title.content|raw }}</h1>
                    <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.gallery.gallery_subtitle.alias }}">
                        {{ points.gallery.gallery_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="lightbox-container">
                    <div class="col-md-6 col-sm-6">
                        <div class="project">
                            <div class="background-image-holder veo">
                                <img alt="Lightbox Image" class="background-image" src="{{ latest.mic.featuredImage }}">
                            </div>
                            <div class="hover-state text-center">
                                <a href="/gallery-modern" class="vertical-align">
                                    <div class="hover-content">
                                        <div class="detail-line"></div>
                                        <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                        <h1 class="text-white" style="margin-bottom:0;">Modern Italian Cuisine</h1>
                                        <i class="icon arrow_right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="project">
                            <div class="background-image-holder veo">
                                <img alt="Lightbox Image" class="background-image" src="{{ latest.bm.featuredImage }}">
                            </div>
                            <div class="hover-state text-center">
                                <a href="#" class="vertical-align">
                                    <div class="hover-content">
                                        <div class="detail-line"></div>
                                        <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                        <h1 class="text-white" style="margin-bottom:0;">Black Mirror</h1>
                                        <i class="icon arrow_right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="project">
                            <div class="background-image-holder veo">
                                <img alt="Lightbox Image" class="background-image" src="{{ latest.two.featuredImage }}">
                            </div>
                            <div class="hover-state text-center">
                                <a href="/gallery-oneplusone" class="vertical-align">
                                    <div class="hover-content">
                                        <div class="detail-line"></div>
                                        <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                        <h1 class="text-white" style="margin-bottom:0;">1 + 1 = 2</h1>
                                        <i class="icon arrow_right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="project">
                            <div class="background-image-holder veo">
                                <img alt="Lightbox Image" class="background-image" src="{{ latest.dec.featuredImage }}">
                            </div>
                            <div class="hover-state text-center">
                                <a href="/gallery-deconstruction" class="vertical-align">
                                    <div class="hover-content">
                                        <div class="detail-line"></div>
                                        <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                        <h1 class="text-white" style="margin-bottom:0;">Deconstruction</h1>
                                        <i class="icon arrow_right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

        {% include 'ChefAdminBundle:Pages/widgets:w_journal.html.twig' %}
    </form>
{% endblock %}