{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        <section class="hero-slider large-image short-header fixed-header">
            <ul class="slides">
                <li class="overlay">
                    <div class="background-image-holder background-parallax">
                        <img alt="Slide Background" class="background-image" src="{{ points.healthy.healthy_bg.content }}">
                    </div>

                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="floating-file" style="text-align: right; right: 0px; margin-top: 40px">
                                    <small class="white">click to change background</small>
                                    <input type="file" name="{{ points.healthy.healthy_bg.alias }}" class="border-edit" />
                                </div>
                                <br />
                                <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.healthy.healthy_main_title.alias }}">{{ points.healthy.healthy_main_title.content|raw }}</h1>
                                <p class="super-lead text-white border-edit editable-area" contenteditable="true" data-name="{{ points.healthy.healthy_main_subtitle.alias }}">{{ points.healthy.healthy_main_subtitle.content|raw }}</p>
                            </div>
                        </div>
                    </div><!--end of container-->
                </li>
            </ul>
        </section>
    </form>

    <section class="blog-snippets-1 grey-bg">
        <div class="container">


            <div class="row">
                <div class="col-md-12 team-2">

                    {% for recipe in recipes %}
                    <div class="col-sm-4 team-member">
                        <a href="/healthy/{{ recipe.slug }}">
                            <img alt="team member" src="{{ recipe.featuredImage }}">
                            <h2>{{ recipe.title }}</h2>
                        </a>
                        {% set content = recipe.content|length > 100 ? recipe.content|slice(0, 100) ~ '...' : recipe.content %}
                        <p class="black-area">
                            {{ content }}
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
{% endblock %}