{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        <section class="hero-slider extended large-image fixed-header">

            <ul class="slides">
                {% for slider in sliders %}
                    <li class="overlay fullscreen-element">
                        <div class="hero_overlay"></div>
                        <div class="background-image-holder parallax-background">
                            <img alt="Slide Background" class="background-image" src="{{ slider.reference.featuredImage }}">
                        </div>
                        <div class="container bottom-align-home">
                            <div class="row">
                                <div class="col-sm-7 col-md-6 nomargin">
                                    <h1 class="text-white"><a href="{{ slider.getBackLink() }}">{{ slider.reference.title }}</a></h1>
                                    {% set content = slider.reference.content|length > 100 ? slider.reference.content|slice(0, 100) ~ '...' : slider.reference.content %}
                                    <p class="text-white super-lead">{{ content|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="main_menu_hero hidden-xs">
                <section class="no-pad large-cto home-cto">
                    <div class="col-sm-4 cto">
                        <a href="/cuisine">
                            <div class=" image-tile">
                                <h3 class="text-white">Cuisine</h3>
                                <img src="/templates/fleava_front/img/icon-cuisine.png" class="large-icon-image" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 cto">
                        <a href="/workout">
                            <div class=" image-tile">
                                <h3 class="text-white">Work-Out</h3>
                                <img src="/templates/fleava_front/img/icon-workout.png" class="large-icon-image" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 cto">
                        <a href="#">
                            <div class="image-tile">
                                <h3 class="text-white">Travel</h3>
                                <img src="/templates/fleava_front/img/icon-travel.png" class="large-icon-image" />
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="hidden-s container flex-navi" id="flex-navi"></div>
        </section>

        <section class="duplicatable-content double-pad grey-bg" style="border-top: 8px solid #d0c472;">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="/templates/fleava_front/img/hero21.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <h3 class="border-edit editable-area" id="editor1" contenteditable="true" data-name="{{ points.home.home_title1.alias }}">{{ points.home.home_title1.content|raw }}</h3>
                        <a class="btn btn-lg btn-filled" href="#">View Recipes</a>

                    </div>

                    <div class="col-md-4 col-sm-6">
                        <p class="md-lead border-edit editable-area" contenteditable="true" data-name="{{ points.home.home_content1.alias }}">
                            {{ points.home.home_content1.content|raw }}
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!--<section class="duplicatable-content single-pad grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 col-sm-6">
                        <div class="edit-area">
                            <h4 class="border-edit editable-area" id="editor1" contenteditable="true" data-name="{ points.home.home_title1.alias }}">{ points.home.home_title1.content|raw }}</h4>
                        </div>
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{ points.home.home_content1.alias }}">
                                { points.home.home_content1.content|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="edit-area">
                            <h4 class="border-edit editable-area" id="editor1" contenteditable="true" data-name="{ points.home.home_title2.alias }}">{ points.home.home_title2.content|raw }}</h4>

                        </div>
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{ points.home.home_content2.alias }}">
                                { points.home.home_content2.content|raw }}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>-->


        <section class="text-divider" id="the_chef">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.home.home_bg.content }}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <div class="edit-area file-container">
                            <div class="floating-file">
                                <small class="white">click to change background</small>
                                <input type="file" name="home_bg" class="border-edit" />
                            </div>

                        </div>
                        <div class="edit-area">
                            <h1 class="text-white border-edit editable-area" id="editor1" contenteditable="true" data-name="{{ points.home.home_cheftitle.alias }}">{{ points.home.home_cheftitle.content|raw }}</h1>

                        </div>
                        <div class="edit-area">
                            <p class="text-white lead border-edit editable-area" id="editor1" contenteditable="true" data-name="{{ points.home.home_chefdescription.alias }}">{{ points.home.home_chefdescription.content|raw }}</p>

                        </div>
                        <img src="/templates/fleava_front/img/signature.png" style="width:200px; height: auto;" /><br><br>
                        <a href="/chef" class="btn btn-filled">READ MORE</a>
                    </div>
                </div>
            </div>
        </section>

        {% include 'ChefAdminBundle:Pages/widgets:w_journal.html.twig' %}

    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(".enable-editing").on('click', function() {
            CKEDITOR.disableAutoInline = true;
            CKEDITOR.inline( 'editor1' );
        });

    </script>

{% endblock %}