{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
    <section class="hero-slider large-image short-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ points.journal.journal_bg.content }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="floating-file" style="text-align: right; right: 0px; margin-top: 40px">
                                <small class="white">click to change background</small>
                                <input type="file" name="{{ points.journal.journal_bg.alias }}" class="border-edit" />
                            </div>
                            <br />
                            <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.journal.journal_main_title.alias }}">{{ points.journal.journal_main_title.content|raw }}</h1>
                            <p class="super-lead text-white border-edit editable-area" contenteditable="true" data-name="{{ points.journal.journal_main_subtitle.alias }}">{{ points.journal.journal_main_subtitle.content|raw }}</p>
                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

        {% include 'ChefAdminBundle:Pages/widgets:w_journal.html.twig' %}
    </form>
{% endblock %}