{% extends 'ChefAdminBundle:Pages:baseWorkout.html.twig' %}

{% block tab2_state %}active{% endblock %}

{% block active_tab %}
    <div role="tabpanel" class="tab-pane fade in active" id="highintens">
        <section class="col-3-text grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="text-block">
                            <div class="detail-line"></div>
                            <div class="edit-area">
                                <h1 class="border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_title.alias }}">
                                    {{ points.wohi.wohi_title.content|raw }}
                                </h1>
                            </div>
                            <div class="edit-area">
                                <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_content.alias }}">
                                    {{ points.wohi.wohi_content.content|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--end of row-->
                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <img alt="team member" src="{{ points.wohi.wohi_bg1.content }}">
                    </div>
                    <div class="floating-file text-left" style="  top: 875px;left: 150px;">
                        <small class="white">click to change background</small>
                        <input type="file" name="{{ points.wohi.wohi_bg1.alias }}" class="border-edit" />
                    </div>

                    <div class="col-sm-4">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_md1.alias }}">
                                {{ points.wohi.wohi_md1.content|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_md2.alias }}">
                                {{ points.wohi.wohi_md2.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="text-divider double-pad ">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_low_bg.content }}">
            </div>
            <div class="floating-file text-left" style=" top: 7px;left: 335px;">
                <small class="white">click to change background</small>
                <input type="file" name="{{ points.wohi.wohi_low_bg.alias }}" class="border-edit" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="edit-area">
                            <h5 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_low_title.alias }}">
                                {{ points.wohi.wohi_low_title.content|raw }}
                            </h5>
                        </div>
                        <div class="edit-area">
                            <p class="text-white super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_low_content.alias }}">
                                {{ points.wohi.wohi_low_content.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">

                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ points.wohi.wohi_md_title1.alias }}">
                                {{ points.wohi.wohi_md_title1.content|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="edit-area">
                            <p class=" lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ points.wohi.wohi_md_title2.alias }}">
                                {{ points.wohi.wohi_md_title2.content|raw }}
                            </p>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
        </section>

        <section class="double-pad">
            <div class="background-image-holder overlay">
                <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_poster_bg.content }}">
            </div>
            <div class="floating-file text-left" style=" top: 17px;left: 142px;">
                <small class="white">click to change background</small>
                <input type="file" name="{{ points.wohi.wohi_poster_bg.alias }}" class="border-edit" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <div class="edit-area">
                            <p class="text-white super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_poster_title.alias }}">
                                {{ points.wohi.wohi_poster_title.content|raw }}
                            </p>
                        </div>
                        <div class="edit-area">
                            <div class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ points.wohi.wohi_poster_content.alias }}">
                               {{ points.wohi.wohi_poster_content.content|raw }}
                            </div>
                        </div>
                        <br/>

                    </div>
                </div>
            </div>

        </section>


        <section class="" style="padding:100px 0 150px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 pricing-tables-2">
                        <div class="col-sm-4" style="padding-right:20px;">
                            <div class="edit-area">
                                <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_doll_title.alias }}">
                                    {{ points.wohi.wohi_doll_title.content|raw }}
                                </p>
                            </div>
                            <div class="edit-area">
                                <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_tanggungjawab.alias }}">
                                    {{ points.wohi.wohi_tanggungjawab.content|raw }}
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-table-2">
                                <div class="edit-area">
                                    <h2 class="uppercase border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_title_exer1.alias }}">
                                        {{ points.wohi.wohi_title_exer1.content|raw }}
                                    </h2>
                                </div>
                                <div class="edit-area">
                                    <ul class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ points.wohi.wohi_content_exer1.alias }}">
                                        {{ points.wohi.wohi_content_exer1.content|raw }}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-table-2">
                                <div class="edit-area">
                                    <h2 class="uppercase border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_title_exer2.alias }}">
                                        {{ points.wohi.wohi_title_exer2.content|raw }}
                                    </h2>
                                </div>
                                <div class="edit-area">
                                    <ul class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ points.wohi.wohi_content_exer2.alias }}">
                                        {{ points.wohi.wohi_content_exer2.content|raw }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-pad">
            <div class="col-md-6 feature-box">
                <div class="background-image-holder">
                    <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_bg_foot1.content }}">
                </div>

                <div class="content">
                    <div class="floating-file text-left" style=" top: -70px;">
                        <small class="white">click to change background</small>
                        <input type="file" name="{{ points.wohi.wohi_bg_foot1.alias }}" class="border-edit" />
                    </div>
                    <h5 class="text-white" style="margin:0;">Previous Section:</h5>
                    <div class="edit-area">
                        <h3 class="text-white border-edit editable-area" data-name="{{ points.wohi.wohi_title_foot1.alias }}" contenteditable="true">
                            {{ points.wohi.wohi_title_foot1.content|raw }}
                        </h3>
                    </div>
                    <div class="edit-area">
                        <p class="text-white border-edit editable-area" data-name="{{ points.wohi.wohi_content_foot1.alias }}" contenteditable="true" style="max-width:400px;">
                            {{ points.wohi.wohi_content_foot1.content|raw }}
                        </p>
                    </div>
                    <a class="btn btn-sm" href="#">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 feature-box">
                <div class="background-image-holder overlay-light-gradient">
                    <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_bg_foot2.content }}">
                </div>

                <div class="content">
                    <div class="floating-file text-left" style=" top: -70px;">
                        <small class="black">click to change background</small>
                        <input type="file" name="{{ points.wohi.wohi_bg_foot2.alias }}" class="border-edit" />
                    </div>
                    <h5 style="margin:0;">Next Section:</h5>
                    <div class="edit-area">
                        <h3 class="border-edit editable-area" data-name="{{ points.wohi.wohi_title_foot2.alias }}" contenteditable="true">{{ points.wohi.wohi_title_foot2.content|raw }}</h3>
                    </div>
                    <div class="edit-area">
                        <p class="border-edit editable-area" contenteditable="true" data-name="{{ points.wohi.wohi_content_foot2.alias }}" style="max-width:400px;">{{ points.wohi.wohi_content_foot2.content|raw }}</p>
                    </div>
                    <a class="btn btn-sm" href="#">Learn More</a>
                </div>
            </div>
        </section>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


<script>
    $(function () {
        var url = window.location.href;

        var index = url.indexOf("#");
        if(url.indexOf("#") > -1) {
            var id = url.substring(index);
            var $window = $(window);

            $this = $(".cto").find("a[href="+id+"]");
            var finalScroll = $this.offset().top - 60;
            $this.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        }
    });
</script>
{% endblock %}