{% extends 'ChefAdminBundle:Pages:base.html.twig' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" id="form"><div class="ux_input"></div>
        <section class="team-2 mediumdark-bg lightbox-gallery1" id="the_journal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <div class="edit-area">
                            <h1 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ points.feed.wofeed_title1.alias }}">
                                {{ points.feed.wofeed_title1.content|raw }}
                            </h1>
                        </div>
                        <div class="edit-area">
                            <p class="text-white lead border-edit editable-area" contenteditable="true" data-name="{{ points.feed.wofeed_subtitle1.alias }}">
                                {{ points.feed.wofeed_subtitle1.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for feed in feeds %}
                        <div class="col-md-4 col-sm-6 team-member">
                            <div class="blog-snippet-1 image-snippet woblog overlay">
                                <div class="background-image-holder">
                                    <img alt="Slide Background" class="background-image" src="{{ feed.featuredImage }}">
                                </div>
                                <div class="text-content">
                                    <span class="date alt-font uppercase">{{ feed.createdOn|date("F nS Y") }}</span>
                                    <h5>{{ feed.title }}</h5>
                                    <p>{{ feed.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </section>
    </form>
{% endblock %}