{% extends 'ChefAdminBundle:Pages:baseWorkout.html.twig' %}

{% block tab1_state %}active{% endblock %}

{% block active_tab %}
    <div role="tabpanel" class="tab-pane fade in active" id="introduction">

        <section class="duplicatable-content single-pad grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-block text-center">
                            <div class="detail-line"></div>

                            <h1 class="contrast-h1">
                                <div class="edit-area">
                                    <strong class="border-edit editable-area" id="editor1" data-name="{{ points.introduction.woin_title1.alias }}" contenteditable="true">{{ points.introduction.woin_title1.content|raw }}</strong>
                                </div>
                                <div class="edit-area">
                                    <span class="border-edit editable-area" id="editor1" data-name="{{ points.introduction.woin_subtitle1.alias }}" contenteditable="true">{{ points.introduction.woin_subtitle1.content|raw }}</span>
                                </div>
                            </h1>

                        </div>
                    </div>
                </div><!--end of row-->
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_content1.alias }}">
                                {{ points.introduction.woin_content1.content|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_content2.alias }}">
                                {{ points.introduction.woin_content2.content|raw }}
                            </p>
                        </div>
                        <div class="edit-area">
                            <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_content3.alias }}">
                                {{ points.introduction.woin_content3.content|raw }}
                            </p>
                        </div>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </section>

        <section class="double-pad">
            <div class="background-image-holder overlay">
                <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_mid_bg2.content }}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <div class="floating-file text-left">
                            <small class="white">click to change background</small>
                            <input type="file" name="woin_mid_bg2" class="border-edit" />
                        </div>
                        <div class="edit-area">
                            <p class="text-white super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_mid_content1.alias }}">
                                {{ points.introduction.woin_mid_content1.content|raw }}
                            </p>
                        </div>
                        <div class="edit-area">
                            <div class="border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_mid_content2.alias }}" data-type="html">
                                {{ points.introduction.woin_mid_content2.content|raw }}
                            </div>
                        </div>
                        <br/>

                    </div>
                </div>
            </div>

        </section>

        <section class="col-2-text">
            <div class="container">
                <div class="row">
                    <div class="detail-line"></div>
                    <div class="col-sm-6">
                        <div class="edit-area">
                            <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_low_content1.alias }}">
                                {{ points.introduction.woin_low_content1.content|raw }}
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="edit-area">
                            <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_low_content2.alias }}">
                                {{ points.introduction.woin_low_content2.content|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="no-pad">
            <div class="col-md-6 feature-box">
                <div class="background-image-holder">
                    <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_ns_bg1.content|raw }}">
                </div>

                <div class="content">
                    <h5 class="text-white" style="margin:0;">Next Section:</h5>
                    <h3 class="text-white">High Intensity Training</h3>
                    <div class="edit-area">
                        <p class="text-white border-edit editable-area" style="max-width:400px;" contenteditable="true" data-name="{{ points.introduction.woin_ns_content1.alias }}">{{ points.introduction.woin_ns_content1.content|raw }}</p>
                    </div>

                    <a class="btn btn-sm" href="#">Learn More</a>
                    <div class="edit-area file-container">
                        <div class="floating-file-2 text-left">
                            <small class="white">click to change background</small>
                            <input type="file" name="woin_ns_bg1" class="border-edit" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 feature-box">
                <div class="background-image-holder overlay-light-gradient">
                    <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_ns_bg2.content }}">
                </div>

                <div class="content">
                    <h5 style="margin:0;">Last Section:</h5>
                    <h3>Fitness &amp; Diet</h3>
                    <div class="edit-area">
                        <p style="max-width:400px;" class="border-edit editable-area" contenteditable="true" data-name="{{ points.introduction.woin_ns_content2.alias }}">
                            {{ points.introduction.woin_ns_content2.content|raw }}
                        </p>
                    </div>
                    <a class="btn btn-sm" href="#">Learn More</a>
                    <div class="edit-area file-container">
                        <div class="floating-file-2 text-left">
                            <small class="black">click to change background</small>
                            <input type="file" name="woin_ns_bg2" class="border-edit" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    $(function () {
        var url = window.location.href;

        var index = url.indexOf("#");
        if(url.indexOf("#") > -1) {
            var id = url.substring(index);
            var $window = $(window);

            $this = $(".cto").find("a[href="+id+"]");
            var finalScroll = $this.offset().top - 60;
            $this.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        }
    });
</script>
{% endblock %}