{% extends 'ChefAdminBundle:Pages:baseWorkout.html.twig' %}

{% block tab3_state %}active{% endblock %}

{% block active_tab %}
    <div role="tabpanel" class="tab-pane fade in active" id="diet">
    {% set wofd = points.wofd %}
    <section class="grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1 class="border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_title.alias }}">
                        {{ wofd.wofd_title.content|raw }}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_subtitle.alias }}">
                       {{ wofd.wofd_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_content1.alias }}">
                        {{ wofd.wofd_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <p class=" lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_content2.alias }}">
                        {{ wofd.wofd_content2.content|raw }}
                    </p>
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_content3.alias }}">
                        {{ wofd.wofd_content3.content|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4 class="border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_rcp_title1.alias }}">{{ wofd.wofd_rcp_title1.content|raw }}</h4>
                        <div class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_rcp_content1.alias }}">
                            {{ wofd.wofd_rcp_content1.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ wofd.wofd_rcp_bg1.content }}">
            </div>
        </div>
        <div class="floating-file text-left" style=" top: 7px;right: 30px">
            <small class="white">click to change background</small>
            <input type="file" name="{{ wofd.wofd_rcp_bg1.alias }}" class="border-edit" />
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4 class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_rcp_title2.alias }}">
                            {{ wofd.wofd_rcp_title2.content|raw }}
                        </h4>
                        <p class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_rcp_content2.alias }}">
                            {{ wofd.wofd_rcp_content2.content|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-left">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ wofd.wofd_rcp_bg2.content }}">
            </div>
        </div>
        <div class="floating-file text-left" style=" top: 7px;left: 30px">
            <small class="white">click to change background</small>
            <input type="file" name="{{ wofd.wofd_rcp_bg2.alias }}" class="border-edit" />
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4 class="border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_rcp_title3.alias }}">
                            {{ wofd.wofd_rcp_title3.content|raw }}
                        </h4>
                        <div class="border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_rcp_content3.alias }}">
                            {{ wofd.wofd_rcp_content3.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ wofd.wofd_rcp_bg3.content|raw }}">
            </div>
        </div>
        <div class="floating-file text-left" style=" top: 7px;right: 30px">
            <small class="white">click to change background</small>
            <input type="file" name="{{ wofd.wofd_rcp_bg3.alias }}" class="border-edit" />
        </div>
    </section>


    <section class="grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1 class="border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_mdl_title.alias }}">{{ wofd.wofd_mdl_title.content|raw }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_mdl_subtitle.alias }}">
                        {{ wofd.wofd_mdl_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_mdl_content1.alias }}">
                        {{ wofd.wofd_mdl_content1.content|raw }}
                    </p>
                    <p class="super-lead" >
                        <strong class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_mdl_link.alias }}">
                            {{ wofd.wofd_mdl_link.content|raw }} </strong><strong>&rarr;</strong></p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_mdl_content2.alias }}">
                        {{ wofd.wofd_mdl_content2.content|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div>
    </section>

    <section class="double-pad">
        <div class="background-image-holder overlay">
            <img alt="Slide Background" class="background-image" src="{{ wofd.wofd_low_bg.content }}">
        </div>
        <div class="floating-file text-left" style=" top: 7px;right: 30px">
            <small class="white">click to change background</small>
            <input type="file" name="{{ wofd.wofd_low_bg.alias }}" class="border-edit" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <h1 class="text-white border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_low_title.alias }}">
                        {{ wofd.wofd_low_title.content|raw }}
                    </h1>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <h3 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_low_content_title1.alias }}">
                        {{ wofd.wofd_low_content_title1.content|raw }}
                    </h3>
                    <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_low_content1.alias }}">
                        {{ wofd.wofd_low_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <h3 class="text-white border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_low_content_title2.alias }}">
                        {{ wofd.wofd_low_content_title2.content|raw }}
                    </h3>
                    <p class="text-white border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_low_content2.alias }}">
                        {{ wofd.wofd_low_content2.content|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div>

    </section>


    <section class="grey-bg col-3-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1 class="border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_title.alias }}">
                        {{ wofd.wofd_ug_title.content|raw }}
                    </h1>
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_subtitle.alias }}">
                        {{ wofd.wofd_ug_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_content_title1.alias }}">
                        {{ wofd.wofd_ug_content_title1.content|raw }}
                    </p>
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_content1.alias }}">
                        {{ wofd.wofd_ug_content1.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_content_title2.alias }}">
                        {{ wofd.wofd_ug_content_title2.content|raw }}
                    </p>
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_content2.alias }}">
                        {{ wofd.wofd_ug_content2.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_ug_content_title3.alias }}">
                        {{ wofd.wofd_ug_content_title3.content|raw }}
                    </p>
                    <p class="lead border-edit editable-area" contenteditable="true" data-type="html" data-name="{{ wofd.wofd_ug_content3.alias }}">
                        {{ wofd.wofd_ug_content3.content|raw }}
                    </p>
                </div>

            </div>
        </div>
    </section>


    <section class="white-bg col-3-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <p class="super-lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_lgm_title.alias }}">
                        {{ wofd.wofd_lgm_title.content|raw }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <img alt="team member" src="{{ wofd.wofd_lgm_bg.content }}">
                </div>
                <div class="floating-file text-left" style=" top: 7px;right: 30px">
                    <small class="white">click to change background</small>
                    <input type="file" name="{{ wofd.wofd_lgm_bg.alias }}" class="border-edit" />
                </div>

                <div class="col-sm-4">
                    <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_lgm_content1.alias }}">
                        {{ wofd.wofd_lgm_content1.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="lead border-edit editable-area" contenteditable="true" data-name="{{ wofd.wofd_lgm_content2.alias }}">
                        {{ wofd.wofd_lgm_content2.content|raw }}
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    $(function () {
        var url = window.location.href;

        var index = url.indexOf("#");
        if(url.indexOf("#") > -1) {
            var id = url.substring(index);
            var $window = $(window);

            $this = $(".cto").find("a[href="+id+"]");
            var finalScroll = $this.offset().top - 60;
            $this.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        }
    });
</script>
{% endblock %}