{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/travel/add">
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <button type="submit"  class="btn btn-compose">
                            <i class="fa fa-flag"></i>
                            {% if travel is defined %}
                                Update
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Featured Image</h4> </li>
                            {% if travel is defined %}
                                <li>
                                    <img src="{{ travel.featuredImage }}" class="image-preview-widget">
                                </li>
                            {% endif %}
                            <li><input type="file" name="image" {% if not(travel is defined) %}required="required"{% endif %}></li>
                            {% if travel is defined %}
                                <input type="hidden" name="id" value="{{ travel.id }}" />
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Google Map Location</h4> </li>
                            <li><input type="text" name="gmap_keyword" class="form-control focus" placeholder="ex: Texas, USA" value="{% if travel is defined %}{{ travel.gmapKeyword }}{% endif %}"></li>
                            <li><p style="padding-left: 0px !important; padding-top: 5px">Find location by name on <a href="https://www.google.co.id/maps">Google Maps</a> </p></li>
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Travel Category</h4> </li>
                            <li>
                                <select class="form-control" name="categoryId" id="category" required="required">
                                    <option>--select category--</option>
                                    {% if travel is defined  %}
                                        {% if travel.category is defined and travel.category.id is defined %}
                                            {% for category in categories %}
                                                <option value="{{ category.id }}" {{ category.id == travel.category.id ? 'selected' : '' }}>{{ category.name }}</option>
                                            {% else %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </li>

                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">

                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            {% if travel is defined %}
                                Update Travel - {{ travel.name }}
                            {% else %}
                                Add a New Travel
                            {% endif %}
                        </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Name</label>
                                <input type="text" tabindex="1" id="title" class="form-control" name="name" value="{% if travel is defined %}{{ travel.name }}{% endif %}">
                            </div>

                            <div class="form-group">
                                <label for="website" class="">Website</label>
                                <input type="text" tabindex="1" id="website" class="form-control" name="website" value="{% if travel is defined %}{{ travel.website }}{% endif %}">
                            </div>

                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="6" name="content" placeholder="Insert your description..">{% if travel is defined %}{{ travel.description }}{% endif %}</textarea>
                                <h5><strong>Address</strong></h5>
                                <hr style="margin-top: 10px !important;" />
                                <textarea class="wysihtml5 form-control" rows="3" name="address" placeholder="Insert pop up location..">{% if travel is defined %}{{ travel.address }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        //wysihtml5 start

        $('.wysihtml5').wysihtml5();

        //wysihtml5 end
    </script>
{% endblock %}