{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'templates/fleava_admin/js/advanced-datatable/css/demo_page.css'
    'templates/fleava_admin/js/advanced-datatable/css/demo_table.css'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_table.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    All Marker
                </header>
                <div class="panel-body">
                    {% for travel in travels if travels|length > 0 %}
                    <div class="col-md-6">
                        <div class="feed-box text-center">
                            <section class="panel">
                                <a href="/admin/travel/delete/{{ travel.id }}" class="trash-icon" onclick="return confirm('Delete? This action cannot be undone.');"><i class="fa fa-trash-o"></i></a>
                                <div class="panel-body panel-style1">
                                    <div class="corner-ribon blue-ribon">
                                        <a href="/admin/travel/edit/{{ travel.id }}"><i class="fa fa-edit"></i></a>
                                    </div>
                                    <a href="#">
                                        <img alt="" src="{{ travel.featuredImage }}">
                                    </a>
                                    <h1>{{ travel.name }}</h1>
                                    <p>{% set description = travel.description|striptags %}
                                        {{ description|length > 100 ? description|slice(0, 100)~'..' : description }}</p>
                                    {% if travel.website != '' %}
                                    <p><a href="#">{{ travel.website }}</a> </p>
                                    {% endif %}
                                </div>
                            </section>
                        </div>
                    </div>
                        {% else %}
                        <div class="well">
                            <h3>
                                Click <a href="/admin/travel/add">here</a> to add new a travel.
                            </h3>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/advanced-datatable/js/jquery.dataTables.js'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.js'
    '@ChefAdminBundle/Resources/public/js/feed_tbl_custom.js'

    output='templates/admindump/js/compiled_table.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}