.no-pad-both {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.no-pad-left {
    padding-left: 0px !important;
}
.no-pad-right {
    padding-right: 0px !important;
}
.navbar-nav>li:hover {
    background-color: #0b273e;
    -webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}
.ie-bar {
    position: fixed;
    height: 52px;
    width: 100% !important;
    background-color: #093459;
    z-index: 1090;
    border-radius: 0px;
    border-color: #093459;
}
.ie-logo {
    padding: 11px 15px 8px 15px;
    border-right: 1px solid #1e5072;
    cursor: pointer;
    height: 51px;
}
.ie-close {
    display: block;
    width: 60px;
    height: 51px;
    padding: 25.6px 30px;
    cursor: pointer;
    outline: 0;
    background: transparent url('http://rumahbatik.co.id/wp-content/plugins/js_composer/assets/vc/navbar_controls.png') 0 -165px;
    border-left: 1px solid #1e5072;
}
.list-cnt {
    padding: 0px 11px 0px 11px;
    height: 51px;
}
.btn-pub {
    color: #ffffff;
    background-color: #00aef0;
    border-color: transparent;
    border-radius: 3px;
    margin-top: 8.5px;
    margin-bottom: 12.5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.border-edit {
    border: 1px dashed silver;
}
.point {
    width: 27px;
    height: 26px;
    background-color: orange;
    position: absolute;
    border-radius: 4px;
    opacity: 0.87;
    cursor: pointer;
    color: #000000;
    font-size: 22px;
    line-height: 30px !important;
}
.point-l { }
.point-l:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 8px solid orange;
    border-bottom: 7px solid transparent;
}
.point-r { }
.point-r:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 8px solid orange;
    border-bottom: 7px solid transparent;
}
.point>i {
    padding: 2px 0px 0px 5px;
}
.point:hover {
    opacity: 1;
}
.ps-1 {
    top: 4px;
    right: 20px;
}
.ps-2 {
    top: 61px;
    left: -24px;
}
.ps-3 {
    top: 61px;
    right: -24px;
}
.ps-4 {
    top: 90px;
    right: -24px;
}
.ps-5 {
    top: 0px;
    right: -24px;
}
.ps-6 {
    top: 4px;
    left: -24px;
}
.ps-7 {
    top: 4px;
    right: -24px;
}
.ps-8 {
    top: -74px;
    right: 246px;
}
.ps-9 {
    top: 85px;
    left: 281px;
}
.ps-10 {
    top: 39px;
    right: 340px;
}
.ps-11 {
    top: 102px;
    right: 284px;
}
.ps-12 {
    top: 163px;
    right: -24px;
}
.ps-13 {
    top: 135px;
    right: -24px;
}
.ps-14 {
    top: -288px;
    left: 281px;
}
.ps-15 {
    top: 88px;
    right: 188px;
}
.floating-file {
    position: absolute;
    top: -98px;
}
.floating-file-1 {
    position: absolute;
    top: 60px;
}
.floating-file-2 {
    position: absolute;
    top: -312px;
}
.white {
    color: #ffffff;
}
.black {
    color: #333333;
}
.file-container {
    position: relative;
}