.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #D0C472 !important;
    border-color: #D0C472 !important;
}
.flex-direction-nav a {
	padding-top: 17px;
	text-shadow:none;
	border:none;
	width: 50px;
	height: 50px;
}
.flex-direction-nav .flex-next{right:8px;}
.flex-direction-nav .flex-prev{left:8px;}

.hero-slider.extended {
}

.nomargin {margin:0; padding:0;}

.hero-slider.extended .fullscreen-element {
  height: 90vh !important;
  min-height:575px !important;
}

.flex-direction-nav a:before {font-family: 'Pe-icon-7-stroke' !important;content: "\e686" !important; font-size: 70px;left: 17px;}
.flex-direction-nav a.flex-next:before {content: "\e684" !important;left: 15px;}

.hero-slider.extended .flex-direction-nav .flex-next{left:38px;}
.hero-slider.extended .flex-direction-nav .flex-prev{left:-15px;}
.hero-slider.extended .flex-direction-nav li {float:left;}
.hero-slider.extended .flex-direction-nav a {
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	transition: background-color .3s ease;
	position:relative;
	top:100%;
	margin-top:-450px;
	background:rgba(255,255,255,.3);
	border-radius: 0;
}
.hero-slider.extended .flex-direction-nav a:hover {background-color:#c1b368;}

.hero-slider.extended .flex-control-nav {
	text-align: center;
	padding-right: 0px;
	display: none;
}

p.name {text-transform: uppercase; letter-spacing: 4px; font-size:12px;}

.hero-slider.extended h1 a {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	color:#fff;
	display:inline-block;
}
.hero-slider.extended h1 a:hover {background-color:#c1b368;padding:0 20px;}

.hero-slider.extended p {font-size:20px;}

.no_pad {padding-left:1px; padding-right:1px;}

.main_menu_hero {
	position:absolute;
	bottom:0px;
	width: 100%;
	z-index: 99;
}

.main_menu_hero h2 {margin-bottom: 0px;}

.main_menu_hero h2 a {
	display:block;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	background: rgba(255,255,255,.15);
	padding: 25px 0 25px;
	font-size: 15px;
	color: #fff;
	letter-spacing: 3px;
	transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.nav-tabs .cto {
	transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.main_menu_hero h2 a:hover {background: rgba(255,255,255,.8); color:#000;}

.clear {clear:both;}
p.bold {font-weight:bold !important; padding:10px !important; margin-bottom:2px !important; background:rgba(255,255,255,.1); border-left:2px solid #fff;}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.relative {position:relative;border-bottom: 10px solid #d0c472;}

.one_two {opacity:1;}
.one_two .icon-sign {
	font-size:135px;
	color:rgba(20,25,30,.5);
	line-height: 1;
	font-weight:100;
	float: left;
  margin-left: 30%;
}
.one_two h2 {
	display:none;
	margin-top: -34px;
	font-size: 25px;
	letter-spacing: 3px;
	text-align: left;
	margin-left: 90px;
	line-height: 1.3;
	color: rgba(0,0,0,.3);
}

@media all and (max-width: 767px) {
  .one_two {display:none;}
}


.map-popup {padding:20px;}
.map-popup .image-wrap {width:40%; float:left;}
.map-popup .image-wrap img {width:100%; height:auto;}
.map-popup .popup-content {margin-left:40%; padding-left:30px;}


.deconstruction {padding-top:180px; text-align: right; border-bottom:1px solid rgba(255,255,255,.2);}
.deconstruction .gallery-item {padding:20px 0;}
.deconstruction .gallery-item:nth-child(even) {background:#000;}
.deconstruction .gallery-item h4 {margin-top:20px;}

.blog-snippets-1 .col-sm-6.team-member {min-height:370px;}
.blog-content {padding:8%; background:#fff;}

.blog-content, .blog-content p, .blog-content li {font-size:16px; color:#222; font-weight: 300; line-height:1.7;}

.blog-content li {padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #e5e7e9; max-width:600px;}
.blog-content ul, .blog-content ol {padding-left:40px;}
.blog-content ul li {list-style-type: disc;}

.nav-1 ul ul ul { margin-left: -25px; bottom: -25px;}
.nav-1 ul ul ul li a {padding: 0px 16px;height: 22px;}
@media all and (max-width: 767px) {
    .large-cto.home-cto .cto {width:100%;}
    .large-cto.home-cto .cto .image-tile {padding: 5px 0;}
    .large-cto.home-cto .cto h3 {font-size: 16px; letter-spacing: 3px;}
    .hero-slider.extended p {font-size: 16px;}
}

.masonry-item {padding:0; width:46%; padding-right:2%; margin-bottom: 20px;}
.masonry-item .blog-snippet-1 {margin:0;}
.masonry-item img {margin-bottom:20px;}

@media all and (max-width: 767px) {
    .masonry-item {padding:0; width:98%; padding-right:2%;}
}

#colors {position:fixed;top:100px;right:90px;z-index: 9;}
#colors li {position:relative;}
#colors li span {background:#555; width:10px; height:10px; position:absolute; right:5px; top:10px;}
#colors li span.chef-friends {background: #d0c472;}
#colors li span.restaurant-reviews {background: #d07280;}
#colors li span.sport-competitions {background: #72d09b;}
#colors .btn-filled {background:#d0c472; min-width:200px; border:none; color:#fff !important; font-size:1em; box-shadow: 0px 1px 4px rgba(0,0,0,.5)}
#colors .btn-filled:hover {background: #d0c472;}
p {white-space: pre-line;}

@media all and (max-width: 767px) { .nav-1.open-menu li ul,.nav-1.open-menu li:before {display:none;} }

p {white-space: pre-line;}




