{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/connect">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Your Contact Information
                    </header>
                    <div class="panel-body">
                        <br>
                            <div class="form-group">
                                <label class="control-label col-md-3">Phone</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="phone" size="16" type="text" value="{{ connect is defined ? connect.phone : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="email" size="16" type="text" value="{{ connect is defined ? connect.email : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address</label>
                                <div class="col-md-6 col-xs-11">
                                    <textarea class="wysihtml5 form-control" rows="2" name="address">{{ connect is defined ? connect.address : '' }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Get In Touch</label>
                                <div class="col-md-6 col-xs-11">
                                    <textarea class="form-control wysihtml5" rows="4" name="content">{{ connect is defined ? connect.content : '' }}</textarea>
                                </div>
                            </div>

                            <hr/>
                            <h4>Social Network</h4>
                            <div class="form-group">
                                <label class="control-label col-md-3">Twitter</label>
                                <div class="col-md-4 col-xs-11">
                                    <input placeholder="insert link.." class="form-control form-control-inline input-medium" name="twitter" size="200" type="text" value="{{ connect is defined ? connect.twitter : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Facebook</label>
                                <div class="col-md-4 col-xs-11">
                                    <input placeholder="insert link.." class="form-control form-control-inline input-medium" name="facebook" size="200" type="text" value="{{ connect is defined ? connect.facebook : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Instagram</label>
                                <div class="col-md-4 col-xs-11">
                                    <input placeholder="insert link.." class="form-control form-control-inline input-medium" name="instagram" size="200" type="text" value="{{ connect is defined ? connect.instagram : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-4 col-xs-11">
                                    <button class="btn btn-primary" type="submit">
                                        Save Changes
                                    </button>
                                    <button class="btn btn-danger" type="reset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        //wysihtml5 start

        $('.wysihtml5').wysihtml5();

        //wysihtml5 end
    </script>
{% endblock %}