{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/connect-company">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Your Company Information
                    </header>
                    <div class="panel-body">
                        <br>
                            <div class="form-group">
                                <label class="control-label col-md-3">Title</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="title" size="16" type="text" value="{{ connect is defined ? connect.title : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Company</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="company" size="16" type="text" value="{{ connect is defined ? connect.company : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Phone</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="phone" size="16" type="text" value="{{ connect is defined ? connect.phone : '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Fax</label>
                                <div class="col-md-4 col-xs-11">
                                    <input class="form-control form-control-inline input-medium" name="fax" size="16" type="text" value="{{ connect is defined ? connect.fax : '' }}">
                                </div>
                            </div>

                            <div class="mails">
                                {% for email in connect.email if connect is defined %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email</label>
                                        <div class="col-md-4 col-xs-11">
                                            <input class="form-control form-control-inline input-medium" name="email[]" size="16" type="text" value="{{ email }}">
                                        </div>
                                        <button class="rmv-email-btn" type="button"><i class="fa fa-trash-o"></i> </button>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email</label>
                                        <div class="col-md-4 col-xs-11">
                                            <input class="form-control form-control-inline input-medium" name="email[]" size="16" type="text" value="">
                                        </div>
                                        <button class="rmv-email-btn" type="button"><i class="fa fa-trash-o"></i> </button>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-4 col-xs-11">
                                    <button id="add-mail" type="button">add email</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address</label>
                                <div class="col-md-8 col-xs-11">
                                    <textarea class="wysihtml5 form-control" rows="3" name="address">{{ connect is defined ? connect.address : '' }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-4 col-xs-11">
                                    <button class="btn btn-primary" type="submit">
                                        Save Changes
                                    </button>
                                    <button class="btn btn-danger" type="reset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        //wysihtml5 start

        $('.wysihtml5').wysihtml5();

        $("#add-mail").on('click', function() {
            var el = '<div class="form-group"><label class="control-label col-md-3">Email</label><div class="col-md-4 col-xs-11"><input class="form-control form-control-inline input-medium" name="email[]" size="16" type="text" value=""></div><button class="rmv-email-btn" type="button"><i class="fa fa-trash-o"></i> </button></div>';

            $(".mails").append(el);
        });

        $(".mails").delegate('.rmv-email-btn', 'click', function() {
            $(this).parent('.form-group').remove();
        });
    </script>
{% endblock %}