{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="">
        <div class="row">
            {% if recipetx is defined %}
                <div class="col-sm-12">
                    <div class="inline-container">
                        <h3>Recipe: <a href="/admin/chef-recipes/edit/{{ recipetx.id }}">{{ recipetx.title }}</a> </h3>
                    </div>
                </div>
            {% endif %}

            <div class="preparation-stack-container">
                <div class="col-sm-12 preparation-item">
                    <section class="panel">
                        {% set id = random() %}
                        <header class="panel-heading wht-bg">
                            <div class="form-group" style="margin-bottom: 0px !important;">
                                <label for="title" class="prepare-title">INGREDIENTS TO PREPARE</label>
                                <input type="text" tabindex="1" id="title" class="form-control" placeholder="e.g Almond Parmesan" name="preparation[{{ id }}][title]" value="{{ preparation.preparation is defined ? preparation.preparation : '' }}">
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="compose-mail stack-ingredients-container">
                                <input type="hidden" value="{{ id }}" class="key">

                                <div class="stack-ingredients">
                                    {% if preparation is defined %}
                                        {% for ingredient in preparation.ingredients %}
                                            <div class="form-group ingredient-cloneable">
                                                <button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>
                                                <input type="text" id="" class="form-control" placeholder="Insert ingredient" style="padding-left: 10px" name="preparation[{{ id }}][ingredients][{{ random() }}]" value="{{ ingredient.content }}">
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="form-group ingredient-cloneable">
                                            <input type="text" id="" class="form-control" placeholder="Insert ingredient" style="padding-left: 10px" name="preparation[{{ id }}][ingredients][{{ random() }}]">
                                        </div>
                                    {% endif %}

                                </div>

                                <button type="button" class="btn btn-primary btn-sm btn-lg btn-block mart10 btn-clone-ingredient"><i class="fa fa-plus"></i> Add Ingredients</button>

                                <hr/>
                                <div class="compose-editor">
                                    <textarea class="form-control ing-content" rows="3" placeholder="METHOD TO PREPARE" name="preparation[{{ id }}][method]">{{ preparation.method is defined ? preparation.method : '' }}</textarea>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <button class="btn btn-primary pull-right" type="submit" style="margin-left: 10px">Save Changes</button>
                                    <button class="btn btn-danger pull-right" type="reset">Reset</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.js'

    output='templates/admindump/js/compiled.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function uniqueid() {
            // always start with a letter (for DOM friendlyness)
            var idstr=String.fromCharCode(Math.floor((Math.random()*25)+65));
            do {
                // between numbers and characters (48 is 0 and 90 is Z (42-48 = 90)
                var ascicode=Math.floor((Math.random()*42)+48);
                if (ascicode<58 || ascicode>64){
                    // exclude all chars between : (58) and @ (64)
                    idstr+=String.fromCharCode(ascicode);
                }
            } while (idstr.length<32);

            return (idstr);
        }

        //clone for method
        $(".btn-add-preparation").on('click', function() {
            var clone = $(".preparation-item").first().clone(true);

            var key = uniqueid();
            $(clone).find("#title").val('');
            $(clone).find(".key").val(key);
            $(clone).find(".ingredient-cloneable>input").first().attr('name', "preparation["+key+"][ingredients]["+uniqueid()+"]");
            $(clone).find("#title").attr('name', "preparation["+key+"][title]");
            $(clone).find(".ing-content").attr('name', "preparation["+key+"][method]");

            $(clone).find(".wysihtml5-sandbox").remove();
            $(clone).find('.wysihtml5-toolbar').remove();
            $(clone).find(".wysihtml5").text('');
            $(clone).find(".wysihtml5").wysihtml5();

            $(clone).find(".remove-container").append('<button class="btn btn-sm btn-remove-preparation" type="button"><i class="fa fa-times"></i> Discard</button>');

            var ing = $(clone).find(".ingredient-cloneable");

            var size = $(ing).length;
            var i = 1;
            $.each(ing, function(key, value) {
                if(i < size) {
                    value.remove();
                }

                ++i;
            });

            setTimeout(function() {
                $('[data-wysihtml5-command="insertImage"]').remove();

                $(clone).find(".wysihtml5-sandbox").show();
            }, 0);

            $(".preparation-stack-container").append(clone);
        });

        $(".preparation-stack-container").delegate(".btn-remove-preparation", "click", function() {
            $(this).parents('.preparation-item').remove();
        });

        //clone for ingredients
        $(".stack-ingredients-container")
                .delegate('.btn-clone-ingredient', 'click', function() {
                    var key = $(this).siblings('.key').val();
                    var stack = $(this).siblings('.stack-ingredients');

                    var clone = $(stack).find('.ingredient-cloneable').first().clone(true);

                    $(clone).prepend('<button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>');
                    $(clone).find('input').attr('name', "preparation["+key+"][ingredients]["+uniqueid()+"]");
                    $(clone).find('input').val('');

                    $(stack).append(clone);
                })
                .delegate(".btn-step-removable", 'click', function() {
                    $(this).parent('.ingredient-cloneable').remove();
                });


        //clone for step
        $("#btn-clone-step").on('click', function() {
            var clone = $(".step-cloneable").first().clone(true);

            $(clone).prepend('<button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>');
            $(clone).find('textarea').attr('name', "presentation[step]["+uniqueid()+"]");

            $("#stack-step").append(clone);
        });

        $(".stack-container").delegate(".btn-step-removable", 'click', function() {
            $(this).parent('.step-cloneable').remove();
        });

        //wysihtml5 start
        $('.wysihtml5').wysihtml5();

        //tag input
        $('#tags_1').tagsInput({width: 'auto'});

    </script>
{% endblock %}