{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_tags.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/chef-recipes/add">
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-compose">
                            <i class="fa fa-flag"></i>
                            {% if recipetx is defined %}
                                Update
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <label for="slidetoggle">Set as slider ?</label>
                        <input id="slidetoggle" type="checkbox" name="isSlider" {{ recipetx.slider is defined and not(recipetx.slider == null) ? 'checked' : '' }}>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Featured Image</h4> </li>
                            {% if recipetx is defined %}
                                <li>
                                    <img src="{{ recipetx.featuredImage }}" class="image-preview-widget">
                                </li>
                            {% endif %}
                            <li><input type="file" name="image" {% if not(recipetx is defined) %}required="required" {% endif %}></li>
                            {% if recipetx is defined %}
                                <input type="hidden" name="id" value="{{ recipetx.id }}" />
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Dinner Menu</h4> </li>
                            {% if recipetx is defined %}
                                {% for dinnerMenu in dinnerMenus %}
                                    {% set flag = 0 %}
                                    {% for d in recipetx.dinnerMenu %}
                                        {% if d.id == dinnerMenu.id %}
                                            {% set flag = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <li>
                                        <label for="{{ 'd'~dinnerMenu.id }}">{{ dinnerMenu.name }}</label><input type="checkbox" value="{{ dinnerMenu.id }}" id="{{ 'd'~dinnerMenu.id }}" name="dinnerMenu[]" class="pull-right" {{ flag == 1 ? 'checked' : '' }}>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for dinnerMenu in dinnerMenus %}
                                    <li>
                                        <label for="{{ 'd'~dinnerMenu.id }}">{{ dinnerMenu.name }}</label><input type="checkbox" value="{{ dinnerMenu.id }}" id="{{ 'd'~dinnerMenu.id }}" name="dinnerMenu[]" class="pull-right">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Recipe Menu</h4> </li>
                            {% if recipetx is defined %}
                                {% for recipeMenu in recipeMenus %}
                                    {% set flag = 0 %}
                                    {% for m in recipetx.recipeMenu %}
                                        {% if m.id == recipeMenu.id %}
                                            {% set flag = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <li>
                                        <label for="{{ 'r'~recipeMenu.id }}">{{ recipeMenu.name }}</label><input type="checkbox" value="{{ recipeMenu.id }}" id="{{ 'r'~recipeMenu.id }}" name="recipeMenu[]" class="pull-right" {{ flag == 1 ? 'checked' : '' }}>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for recipeMenu in recipeMenus %}
                                    <li>
                                        <label for="{{ 'r'~recipeMenu.id }}">{{ recipeMenu.name }}</label><input type="checkbox" value="{{ recipeMenu.id }}" id="{{ 'r'~recipeMenu.id }}" name="recipeMenu[]" class="pull-right">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Tags</h4> </li>
                            <li>
                                <input id="tags_1" type="text" class="tags" value="
                                {% if recipetx is defined %}
                                    {% for tag in recipetx.tags %}
                                        {% if loop.last %}
                                            {{ tag.name }}
                                        {% else %}
                                            {{ tag.name~',' }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                " name="tags" />
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case"> Introduction</h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Title</label>
                                <input type="text" tabindex="1" id="title" name="title" class="form-control" value="{% if recipetx is defined %}{{ recipetx.title }}{% endif %}">
                            </div>
                            <hr/>
                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="2" placeholder="First Section" name="firstParagraph">{% if recipetx is defined %}{{ recipetx.firstParagraph }}{% endif %}</textarea>
                            </div>
                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="2" placeholder="Second Section" name="secondParagraph">{% if recipetx is defined %}{{ recipetx.secondParagraph }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case"> PRESENTATION</h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail stack-container">
                            {% if recipetx is defined %}
                                {% for step in recipetx.presentation.steps if recipetx.presentation.steps|length > 0 %}
                                    <div id="stack-step">
                                        <div class="form-group step-cloneable">
                                            <button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>
                                            <textarea class="form-control" rows="2" placeholder="Insert Presentation Step.." name="presentation[step][{{ random() }}]">{{ step.content }}</textarea>
                                        </div>
                                    </div>
                                    {% else %}
                                        <div id="stack-step">
                                            <div class="form-group step-cloneable">
                                                <textarea class="form-control" rows="2" placeholder="Insert Presentation Step.." name="presentation[step][{{ random() }}]"></textarea>
                                            </div>
                                        </div>
                                {% endfor %}
                            {% else %}
                                <div id="stack-step">
                                    <div class="form-group step-cloneable">
                                        <textarea class="form-control" rows="2" placeholder="Insert Presentation Step.." name="presentation[step][{{ random() }}]"></textarea>
                                    </div>
                                </div>
                            {% endif %}

                            <button type="button" class="btn btn-primary btn-sm btn-lg btn-block mart10" id="btn-clone-step"><i class="fa fa-plus"></i> Add Presentation Step</button>

                            <hr/>
                            <div class="form-group">
                                <label for="title" class="">Tips title</label>
                                <input type="text" tabindex="1" id="title" name="presentation[title]" class="form-control" value="{% if recipetx is defined %}{{ recipetx.presentation.title }}{% endif %}">
                            </div>
                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="2" placeholder="Content.." name="presentation[chefTips]">{% if recipetx is defined %}{{ recipetx.presentation.tips }}{% endif %}</textarea>

                                {% if recipetx is defined %}
                                    <br/>
                                    <img src="{{ recipetx.presentation.featuredImage }}" class="image-preview-widget" style="max-width: 300px" />
                                {% endif %}
                                <input type="file" class="default" name="presentation[image]" {% if not(recipetx is defined) %}required="required" {% endif %}>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            {% if recipetx is defined %}
            <div class="col-sm-12">
                <div class="inline-container">
                    <h3 class="inline-item">Preparations and Methods</h3>
                    <a href="/admin/chef-recipes/edit/{{ recipetx.id }}/new/preparation" class="btn btn-primary btn-lg pull-right inline-item btn-circle btn-add-preparation" ><i class="fa fa-plus"></i></a>
                </div>
            </div>
            {% endif %}

            <div class="preparation-stack-container">
            {% if recipetx is defined %}
                <div class="col-sm-12 preparation-item">
                    <section class="panel">
                        {% if recipetx.preparations | length > 0 %}
                        <table class="table table-bordered">
                            <thead>
                                <th>Ingredient to prepare</th>
                                <th style="width: 10%">Action</th>
                            </thead>
                            <tbody>
                            {% for preparationtx in recipetx.preparations %}
                                <tr>
                                    <td>{{ preparationtx.preparation }}</td>
                                    <td>
                                        <a href="/admin/chef-recipes/edit/{{ recipetx.id }}/edit/preparation/{{ preparationtx.id }}" class="btn btn-white btn-xs active"> <i class="fa fa-edit"></i> </a>
                                        <a href="/admin/chef-recipes/edit/{{ recipetx.id }}/delete/preparation/{{ preparationtx.id }}" class="btn btn-white btn-xs active" onclick="return confirm('Delete? This action cannot be undone.');"> <i class="fa fa-trash-o"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="well">
                                <h4>Click <a href="/admin/chef-recipes/edit/{{ recipetx.id }}/new/preparation">here..</a> to add preparation and method..</h4>
                            </div>
                        {% endif %}
                    </section>
                </div>
                {% for preparationtx in recipetx.preparations %}
                    <div class="col-sm-6 preparation-item">
                        <section class="panel">
                            {% set id = random() %}
                            <header class="panel-heading wht-bg">
                                <div class="form-group" style="margin-bottom: 0px !important;">
                                    <label for="title" class="prepare-title">INGREDIENTS TO PREPARE</label>
                                    <input type="text" tabindex="1" id="title" class="form-control" placeholder="e.g Almond Parmesan" name="preparation[{{ id }}][title]" value="{{ preparationtx.preparation }}">
                                </div>
                            </header>
                            <div class="panel-body">
                                <div class="compose-mail stack-ingredients-container">
                                    <input type="hidden" value="{{ id }}" class="key">

                                    <div class="stack-ingredients">
                                    {% for ingredient in preparationtx.ingredients %}
                                        <div class="form-group ingredient-cloneable">
                                            <input type="text" id="" class="form-control" placeholder="Insert ingredient" style="padding-left: 10px" name="preparation[{{ id }}][ingredients][{{ random() }}]" value="{{ ingredient.content }}">
                                        </div>
                                    {% endfor %}
                                    </div>

                                    <button type="button" class="btn btn-primary btn-sm btn-lg btn-block mart10 btn-clone-ingredient"><i class="fa fa-plus"></i> Add Ingredients</button>

                                    <hr/>
                                    <div class="compose-editor">
                                        <textarea class="form-control ing-content" rows="3" placeholder="METHOD TO PREPARE" name="preparation[{{ id }}][method]">{{ preparationtx.method }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            {% if not(recipetx is defined) %}
                <div class="well center-block">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Save and Add Preparation..</button>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.js'

    output='templates/admindump/js/compiled_tags.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function uniqueid() {
            // always start with a letter (for DOM friendlyness)
            var idstr=String.fromCharCode(Math.floor((Math.random()*25)+65));
            do {
                // between numbers and characters (48 is 0 and 90 is Z (42-48 = 90)
                var ascicode=Math.floor((Math.random()*42)+48);
                if (ascicode<58 || ascicode>64){
                    // exclude all chars between : (58) and @ (64)
                    idstr+=String.fromCharCode(ascicode);
                }
            } while (idstr.length<32);

            return (idstr);
        }

        //clone for method
        $(".btn-add-preparation").on('click', function() {
            var clone = $(".preparation-item").first().clone(true);

            var key = uniqueid();
            $(clone).find("#title").val('');
            $(clone).find(".key").val(key);
            $(clone).find(".ingredient-cloneable>input").first().attr('name', "preparation["+key+"][ingredients]["+uniqueid()+"]");
            $(clone).find("#title").attr('name', "preparation["+key+"][title]");
            $(clone).find(".ing-content").attr('name', "preparation["+key+"][method]");

            $(clone).find(".wysihtml5-sandbox").remove();
            $(clone).find('.wysihtml5-toolbar').remove();
            $(clone).find(".wysihtml5").text('');
            $(clone).find(".wysihtml5").wysihtml5();

            $(clone).find(".remove-container").append('<button class="btn btn-sm btn-remove-preparation" type="button"><i class="fa fa-times"></i> Discard</button>');

            var ing = $(clone).find(".ingredient-cloneable");

            var size = $(ing).length;
            var i = 1;
            $.each(ing, function(key, value) {
                if(i < size) {
                    value.remove();
                }

                ++i;
            });

            setTimeout(function() {
                $('[data-wysihtml5-command="insertImage"]').remove();

                $(clone).find(".wysihtml5-sandbox").show();
            }, 0);

            $(".preparation-stack-container").append(clone);
        });

        $(".preparation-stack-container").delegate(".btn-remove-preparation", "click", function() {
            $(this).parents('.preparation-item').remove();
        });

        //clone for ingredients
        $(".stack-ingredients-container")
                .delegate('.btn-clone-ingredient', 'click', function() {
            var key = $(this).siblings('.key').val();
            var stack = $(this).siblings('.stack-ingredients');

            var clone = $(stack).find('.ingredient-cloneable').first().clone(true);

            $(clone).prepend('<button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>');
            $(clone).find('input').attr('name', "preparation["+key+"][ingredients]["+uniqueid()+"]");
            $(clone).find('input').val('');

            $(stack).append(clone);
        })
                .delegate(".btn-step-removable", 'click', function() {
            $(this).parent('.ingredient-cloneable').remove();
        });


        //clone for step
        $("#btn-clone-step").on('click', function() {
            var clone = $(".step-cloneable").first().clone(true);

            $(clone).prepend('<button class="btn btn-sm btn-float-rmv btn-step-removable" type="button">x</button>');
            $(clone).find('textarea').attr('name', "presentation[step]["+uniqueid()+"]");

            $("#stack-step").append(clone);
        });

        $(".stack-container").delegate(".btn-step-removable", 'click', function() {
            $(this).parent('.step-cloneable').remove();
        });

        //wysihtml5 start
        $('.wysihtml5').wysihtml5();

        //tag input
        $('#tags_1').tagsInput({width: 'auto'});

    </script>
{% endblock %}