{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'templates/fleava_admin/js/advanced-datatable/css/demo_page.css'
    'templates/fleava_admin/js/advanced-datatable/css/demo_table.css'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_table.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    All Chef Recipes
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th style="width: 25%">Title</th>
                                    <th style="width: 12%">Created On</th>
                                    <th class="hidden-phone" style="width: 12%">Dinner</th>
                                    <th class="hidden-phone" style="width: 12%">Recipe</th>
                                    <th class="hidden-phone" style="width: 4%">Slider</th>
                                    <th class="hidden-phone" style="width: 10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for recipe in recipes %}
                                <tr class="gradeX">
                                    <td><strong>{{ recipe.title }}</strong><br>{{ recipe.firstParagraph|length > 50 ? recipe.firstParagraph|slice(0,50)~'...' : recipe.firstParagraph }}</td>
                                    <td>{{ recipe.createdOn }}</td>
                                    <td>
                                        {% for dinner in recipe.dinnerMenu %}
                                            <span class="label label-success" style="margin-right: 5px;margin-bottom: 5px">
                                            {{ dinner.name }}
                                            </span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for rcp in recipe.recipeMenu %}
                                            <span class="label label-primary" style="margin-right: 5px; margin-bottom: 5px">
                                                {{ rcp.name }}
                                            </span>
                                        {% endfor %}
                                    </td>
                                    <td class="hidden-phone">
                                        {% if recipe.slider != null %}
                                            <span class="label label-success">YES</span>
                                        {% else %}
                                            <span class="label label-default">NO</span>
                                        {% endif %}
                                    </td>
                                    <td class="center hidden-phone">
                                        <a href="/admin/chef-recipes/edit/{{ recipe.id }}" class="btn btn-white active"> <i class="fa fa-edit"></i> </a>
                                        <a href="/admin/chef-recipes/delete/{{ recipe.id }}" class="btn btn-white active" onclick="return confirm('Delete? This action cannot be undone.');"> <i class="fa fa-trash-o"></i> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/advanced-datatable/js/jquery.dataTables.js'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.js'
    '@ChefAdminBundle/Resources/public/js/feed_tbl_custom.js'

    output='templates/admindump/js/compiled_table.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}