.focus {
    border: 1px solid #00A8B3 !important;;
    box-shadow: none !important;
}
.remove-btn {
    position: absolute;
    top: 73%;
    right: 18px;
}
.image-preview-widget {
    width: 100%;
    margin-bottom: 10px;
}
.compose-mail {
    margin-top: 0px !important;
}
.mart10 {
    margin-top: 10px !important;
}
.compose-mail .form-group .no-shad {
    border: none !important;
}
.btn-float-rmv {
    position: absolute;
    right: 0;
    background-color: #20C3B2;
    color: white;
    font-weight: 800;
    margin-top: 2px;
    margin-right: 4px;
}
.prepare-title {
    width: 40% !important;
}
.inline-container {
    display: inline-block;
    width: 100% !important;
}
.inline-item {
    display: inline-block;
}
.btn-circle:hover {
    -webkit-box-shadow: 0px 0px 6px -1px #333;
    -moz-box-shadow: 0px 0px 6px -1px #333;
    box-shadow: 0px 0px 6px -1px #333;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-circle {
    border-radius: 50%;
}
.wrapper .wrapper-notop {margin-top: 0 !important;}
.tagsinput {
    min-height: 130px !important;
}
.form-control, .wht-bg h4 {
    color: #555555 !important;
}
.hover-menu {
    width: 91.5%;
    height: 40px;
    background-color: #1CA59E;
    opacity: 0.6;
    position: absolute;
    top: -45px;
    overflow: hidden;
    transition: all 0.1s linear;
    visibility: hidden;
}
.isotope-item:hover .hover-menu {
    visibility: visible;
    top: 0px;
}
.isotope-item {
    overflow: hidden;
}
.update-text {
    text-shadow: 1px 1px 1px black !important;
    color: white;
}
.panel-style1 {
    background-color: #F6F6F6 !important;
}
.trash-icon {
    position: absolute;
    left: 9px;
    top: 5px;
}
.show-block {
    display: block;
}
.hidden-block {
    display: none;
}