{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/workout-feeds/add">
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-compose">
                            <i class="fa fa-flag"></i>
                            {% if feed is defined %}
                                Update
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <label for="slidetoggle">Set as slider ?</label>
                        <input id="slidetoggle" type="checkbox" name="isSlider" {{ feed.slider is defined and not(feed.slider == null) ? 'checked' : '' }}>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Featured Image</h4> </li>
                            {% if feed is defined %}
                                <li>
                                    <img src="{{ feed.featuredImage }}" class="image-preview-widget">
                                </li>
                            {% endif %}
                            <li><input type="file" name="image" {% if not(feed is defined) %}required="required" {% endif %}></li>
                            {% if feed is defined %}
                                <input type="hidden" name="id" value="{{ feed.id }}" />
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">

                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            {% if feed is defined %}
                                Update Feed - {{ feed.title }}
                            {% else %}
                                Add a New Feed
                            {% endif %}
                        </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Title</label>
                                <input type="text" tabindex="1" id="title" name="title" class="form-control" required="" value="{% if feed is defined %}{{ feed.title }}{% endif %}">
                            </div>

                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="4" placeholder="Insert your feed.." name="content">{% if feed is defined %}{{ feed.content }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        //wysihtml5 start

        $('.wysihtml5').wysihtml5();

        //wysihtml5 end
    </script>
{% endblock %}