{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/gallery/add">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            {% if gallery is defined %}
                                Update Gallery - {{ gallery.title }}
                            {% else %}
                                Add a New Gallery
                            {% endif %}
                        </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Title</label>
                                <input type="text" tabindex="1" id="title" class="form-control" name="title" value="{% if gallery is defined %}{{ gallery.title }}{% endif %}">
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="categoryId" id="category" required="required">
                                    <option>--select category--</option>
                                    {% if gallery is defined  %}
                                        {% for category in categories %}
                                            <option value="{{ category.id }}" {{ category.id == gallery.category.id ? 'selected' : '' }}>{{ category.name }}</option>
                                        {% else %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    {% else %}
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>

                            <div class="blocka {% if gallery is defined and not(gallery.category.id == 3) %}hidden-block{% else %}hidden-block{% endif %}">
                                <hr/>
                                <label>Description</label>
                                <div class="form-group">
                                    <textarea class="wysihtml5 form-control" rows="4" placeholder="Insert your description.." name="description">{% if gallery is defined %}{{ gallery.description }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="mart10"></div>
                            <label>Feature Image</label>
                            <div class="form-group">
                                {% if gallery is defined %}
                                    <img src="{{ gallery.featuredImage }}" class="image-preview-widget">
                                    <input type="hidden" name="id" value="{{ gallery.id }}" />
                                {% endif %}

                                <input type="file" class="default" name="image" {% if not(gallery is defined) %}required="required" {% endif %}>
                            </div>

                            <hr/>
                            <div class="pull-right">
                                <button class="btn btn-primary">
                                    Save Changes
                                </button>
                                <button type="reset" class="btn btn-warning">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('.wysihtml5').wysihtml5();

        $("#category").on('change', function() {
            if($("#category option:selected").val() == 3) {
                $(".blocka").show();
            } else {
                $(".blocka").hide();
            }
        })
    </script>
{% endblock %}