{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Gallery
                </header>
                <div class="panel-body">

                    <ul id="filters" class="media-filter">
                        <li><a href="#" data-filter="*"> All</a></li>
                        <li><a href="#" data-filter=".mic">Modern Italian Cuisine</a></li>
                        <li><a href="#" data-filter=".two">1 + 1 = 2</a></li>
                        <li><a href="#" data-filter=".dec">Deconstructions</a></li>
                        <li><a href="#" data-filter=".bm">Mirror</a></li>
                    </ul>

                    <a href="/admin/gallery/add" type="button" class="btn pull-right btn-sm"><i class="fa fa-upload"></i> Upload New File</a>

                    <div id="gallery" class="media-gal">
                        {% for image in images %}
                        <div class="{{ image.category.alias }} item " >
                            <a href="#myModal" data-toggle="modal">
                                <a href="/admin/gallery/edit/{{ image.id }}">
                                    <div class="hover-menu">
                                        <p class="update-text">
                                            <strong>Update</strong>
                                        </p>
                                    </div>
                                </a>
                                <img src="{{ image.featuredImage }}" alt="" />
                                <a href="/admin/gallery/delete/{{ image.id }}" onclick="return confirm('Delete? This action cannot be undone.');" class="remove-btn btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> </a>
                            </a>
                            <p><a href="#">{{ image.title }}</a> </p>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-12 text-center clearfix">
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/jquery.isotope.js'


    output='templates/admindump/js/compiled_gallery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        $(function() {
            var $container = $('#gallery');
            $container.isotope({
                itemSelector: '.item',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            // filter items when filter link is clicked
            $('#filters a').click(function() {
                var selector = $(this).attr('data-filter');
                $container.isotope({filter: selector});
                return false;
            });
        });
    </script>
{% endblock %}