{% extends 'base.html.twig' %}

{% block body %}

    <div class="theme-main-wrapper ">

        <div id="mk-boxed-layout" class="mk-full-enabled">

            <style>

                html, body{height: 100%;}

                body {
                    background-color: #1d212e;
                    margin:0;
                    color: #fff;
                    font-family: "Lato", sans-serif;
                    font-weight:300;
                    background-image: url('/templates/fleava_front/img/404.jpg');
                    background-position: center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-repeat: no-repeat;

                }

                div.content {
                    position:absolute;
                    top: 180px;
                    left:10%;
                }
                h1 { font-size: 150px; margin-top: 0px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      line-height: 1; font-weight: 200;-webkit-font-smoothing: antialiased; }
                p {font-size:28px; color:#fff;line-height: 1.3;}
                a {
                    outline:none;
                    text-decoration: none;
                    color:rgba(255,255,255,.5);
                }
                a:hover {color:#fff;}

                #mk-page-title {display:none;}
                #mk-header,.sticky-header-padding.sticky-header {display:none;}

                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                    h1 {font-size: 80px;}
                    p {font-size:18px;}
                    div.content {top:80px;}
                }
                .name {
                    width: 130px;
                    color: #fff;
                    top: 53px;
                    font-weight: 400;
                    text-transform: none;
                    margin-left: -5px;
                    line-height: 1;
                    text-align: center;
                    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 16px;
                }
                .name span {
                    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    color: #9c9da9;
                    font-size: 9px;
                    margin-top: 5px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    display: block;
                    font-weight: 400;
                }
            </style>


            <div class="content">
                <h1>404</h1>
                <p>It's just... wrong. <br><a href="/">Get back on track →</a></p>
                <br>
                <a href="http://fleava.com/" title="Fleava | Bali Advertising Agency">
                    <img alt="Fleava | Bali Advertising Agency" class="mk-light-logo" src="/templates/fleava_front/img/big_logo.png" style="width: 124px; height:auto;">
                    <h2 class="name">ChefsWork-Out <span>by NICOLA RUSSO</span></h2>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'templates/fleava_front/js/jquery.js'
    'templates/fleava_front/js/plugins.js'
    'templates/fleava_front/js/scrollto.js'
    'templates/fleava_front/js/scripts.js'

    output='templates/dump/js/compiled.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}