{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'templates/fleava_front/css/bootstrap.min.css'
    'templates/fleava_front/css/elegant-icons.min.css'
    'templates/fleava_front/css/pe-icon-7-stroke.min.css'
    'templates/fleava_front/css/flexslider.min.css'
    'templates/fleava_front/css/theme-mustard.css'
    'templates/fleava_front/css/custom.css'

    filter='cssrewrite'
    output='templates/dump/css/compiled.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="http://fonts.googleapis.com/css?family=family=Roboto:100,400,300,700,400italic,500%7CVoltaire%7COpen+Sans+Condensed:300,300italic,700" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}

        {% block nav_alt %}{% endblock %}

        {% block nav_bar %}
            {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <nav class="nav-1 {% block nav_primary_class %}{% endblock %}">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/" class="home-link">
                            <img alt="Logo" class="logo" src="/templates/fleava_front/img/big_logo.png">
                            <h2>ChefsWork-Out <span>by NICOLA RUSSO</span></h2>
                        </a>
                        <ul class="menu pull-right">
                            <li class="has-dropdown"><a href="/">Home</a>
                                <ul class="subnav">
                                    <li><a href="/#featured" class="inner-link click-link-home" data-tag="#featured">Featured</a></li>
                                    <li><a href="/#the_chef" class="inner-link click-link-home" data-tag="#the_chef" id="tchef">The Chef</a></li>
                                    <li><a href="/#the_journal" class="inner-link click-link-home" data-tag="#the_journal">The Journal</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="/cuisine" class="inner-link">Cuisine</a>
                                <ul class="subnav">
                                    <li class="has-dropdown-2"><a href="/cuisine#the_recipes" class="inner-link">Recipes</a>
                                        <ul class="subnav-level-2">
                                            <li><a href="/recipes">Chef Recipes</a></li>
                                            <li><a href="/healthy">Healthy Recipes</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown-2"><a href="/cuisine#the_gallery" class="inner-link">Food Gallery</a>
                                        <ul class="subnav-level-2">
                                            <li><a href="/gallery-modern">Modern Italian Cuisine</a></li>
                                            <li><a href="/gallery-oneplusone" class="hidden-xs">1 + 1 = 2</a></li>
                                            <li><a href="/gallery-mirror">Mirror</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="/workout">Work-out</a>
                                <ul class="subnav">
                                    <li><a href="javascript:void(0)" class="click-link" data-tag="#introduction">Introduction</a></li>
                                    <li><a href="javascript:void(0)" class="click-link" data-tag="#highintens">High Intensity</a></li>
                                    <li><a href="javascript:void(0)" class="click-link" data-tag="#diet">Fitness &amp; Diet</a></li>
                                </ul>
                            </li>
                            <li><a href="/travel">Travel</a></li>
                            <li><a href="/connect">Connect</a></li>

                        </ul>
                    </div>

                </div><!--end of row-->
            </div><!--end of container-->

            <div class="mobile-toggle">
                <div class="bar-1"></div>
                <div class="bar-2"></div>
            </div>
        </nav>
    </div>
    {% endblock %}

    <div class="main-container" id="featured">

    {% block content %}{% endblock %}

    {% block footer %}
    <footer class="footer-1 dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <ul>
                        <li><a href="/cuisine">Cuisine</a></li>
                        <li><a href="/workout">Work out</a></li>
                        <li><a href="/travel">Travel</a></li>
                        <li><a href="/connect">Connect</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-3">
                    <ul>
                        <li><a href="{{ media.twitter }}">Twitter</a></li>
                        <li><a href="{{ media.facebook }}">Facebook</a></li>
                        <li><a href="{{ media.instagram }}">Instagram</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-offset-4 col-sm-6">
                    <p>
                        Subscribe to the newsletter to receive news &amp; updates. We promise to not spam you, super promise!
                    </p>

                    <form class="newsletter-form">
                        <input type="text" class="validate-required validate-email input-standard" placeholder="Your Email Here">
                        <input type="submit">
                        <i class="icon pe-7s-angle-right text-white"></i>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-lower">
                        <span>&copy; Copyright 2015 <a href="http://chefsworkout.com">Chefs Work-Out</a> by Nicola Russo. All rights reserved. Design by <a href="http://fleava.com">Fleava</a>.</span>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_front/js/jquery.js'
    'templates/fleava_front/js/plugins.js'
    'templates/fleava_front/js/scrollto.js'
    'templates/fleava_front/js/scripts.js'

    output='templates/dump/js/compiled.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(".click-link-home").on('click', function() {
            var tag = $(this).data('tag');
            window.location.href='/'+tag;
        });

        $(".click-link").on('click', function() {
            var tag = $(this).data('tag');
            window.location.href='/workout'+tag;
        });
    </script>
{% endblock %}