{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="hero-slider large-image medium-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ points.chef.chef_bg.content }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">{{ points.chef.chef_title.content|raw }}</h1>
                            <img src="/templates/fleava_front/img/signature.png" style="width:150px; height: auto;" />
                            <p class="text-white name">{{ points.chef.chef_name.content|raw }}</p>
                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

    <section class="duplicatable-content single-pad dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-white">{{ points.chef.chef_content1.content|raw }}</h4>
                </div>

                <div class="col-md-8">
                    <p class="text-white lead">
                        {{ points.chef.chef_content2.content|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>

    <section class="text-divider" id="the_chef">
        <div class="background-image-holder">
            <img alt="Slide Background" class="background-image" src="{{ points.chef.chef_mdl_bg.content }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    {{ points.chef.chef_mdl_content1.content|raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="col-3-text grey-bg">
        <div class="container">

            <div class="row">

                <div class="col-sm-5">
                    <div class="detail-line"></div>
                    <p class="super-lead">{{ points.chef.chef_gray_content1.content|raw }}</p>

                </div>

                <div class="col-sm-7">
                    {{ points.chef.chef_gray_content2.content|raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}