{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <div class="large-image">
        <ul class="slides">
            {% for image in images %}
            <li class="fullscreen-element relative" data-parallax="scroll" data-image-src="{{ image.featuredImage }}">
                <div class="container vertical-align text-center">
                    <div class="row">
                        <div class="text-center col-md-12">
                            <h1 class="text-white">{{ image.title }}</h1>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div style="padding: 15px">
        {% include 'ChefFrontBundle::pagination.html.twig' with {
        currentPage: pagination.page,
        paginationPath: pagination.url,
        lastPage:  pagination.lastPage,
        showAlwaysFirstAndLast: false
        } only %}
    </div>

    {% include 'ChefFrontBundle:widget:w_company.html.twig' %}

    <section class="no-pad">
        <div class="related-container">
            <div class="col-md-6 feature-box">
                <div class="project">
                    <div class="background-image-holder veo">
                        <img alt="Lightbox Image" class="background-image" src="{{ latest.two.featuredImage }}">
                    </div>
                    <div class="hover-state text-center">
                        <a href="/gallery-oneplusone" class="vertical-align">
                            <div class="hover-content">
                                <div class="detail-line"></div>
                                <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                <h1 class="text-white" style="margin-bottom:0;">1 + 1 = 2</h1>
                                <i class="icon arrow_right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 feature-box">
                <div class="project">
                    <div class="background-image-holder veo">
                        <img alt="Lightbox Image" class="background-image" src="{{ latest.dec.featuredImage }}">
                    </div>
                    <div class="hover-state text-center">
                        <a href="/gallery-deconstruction" class="vertical-align">
                            <div class="hover-content">
                                <div class="detail-line"></div>
                                <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                <h1 class="text-white" style="margin-bottom:0;">Deconstruction</h1>
                                <i class="icon arrow_right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}