{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <div class="main-container">

        <section class="deconstruction dark-bg">
            {% for image in images %}
                <div class="gallery-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="text-white">{{ image.title }}</h4>
                                <p class="text-white lead">{{ image.description }}</p>
                            </div>
                            <div class="col-md-9">
                                <img src="{{ image.featuredImage }}" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% include 'ChefFrontBundle::pagination.html.twig' with {
            currentPage: pagination.page,
            paginationPath: pagination.url,
            lastPage:  pagination.lastPage,
            showAlwaysFirstAndLast: false
            } only %}
        </section>

        {% include 'ChefFrontBundle:widget:w_company.html.twig' %}

        <section class="no-pad">
            <div class="related-container">
                <div class="col-md-6 feature-box">
                    <div class="project">
                        <div class="background-image-holder veo">
                            <img alt="Lightbox Image" class="background-image" src="{{ latest.two.featuredImage }}">
                        </div>
                        <div class="hover-state text-center">
                            <a href="/gallery-oneplusone" class="vertical-align">
                                <div class="hover-content">
                                    <div class="detail-line"></div>
                                    <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                    <h1 class="text-white" style="margin-bottom:0;">1 + 1 = 2</h1>
                                    <i class="icon arrow_right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 feature-box">
                    <div class="project">
                        <div class="background-image-holder veo">
                            <img alt="Lightbox Image" class="background-image" src="{{ latest.mic.featuredImage }}">
                        </div>
                        <div class="hover-state text-center">
                            <a href="/gallery-modern" class="vertical-align">
                                <div class="hover-content">
                                    <div class="detail-line"></div>
                                    <h5 class="text-white" style="margin-bottom:0;">Gallery:</h5>
                                    <h1 class="text-white" style="margin-bottom:0;">Modern Italian Cuisine</h1>
                                    <i class="icon arrow_right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}