{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <div class="main-container">

        <section class="hero-slider large-image medium-header fixed-header">
            <ul class="slides">
                <li class="overlay">
                    <div class="background-image-holder background-parallax">
                        <img alt="Slide Background" class="background-image" src="{{ recipe.featuredImage }}">
                    </div>

                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <p class="super-lead text-white" style="margin-bottom:0">{{ recipe.createdOn }}</p>
                                <h1 class="text-white">{{ recipe.title }}</h1>

                            </div>
                        </div>
                    </div><!--end of container-->
                </li>
            </ul>
        </section>

        <section class="blog-snippets-1 grey-bg">
            <div class="container">

                <div class="row">
                    <div class="col-md-9">

                        <div class="blog-content">
                            {{ recipe.content|raw }}
                        </div>

                    </div>

                    <div class="col-md-3">
                        {% include 'ChefFrontBundle:widget:widget-healthy-detail.html.twig' %}

                    </div>

                </div><!--end of row-->
            </div><!--end of container-->
        </section>

        <div class="team-2 white-bg related">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>You may also like:<br><br></h2>

                    </div>
                </div>

                <div class="row">
                    {% for recipex in related if related|length > 0 %}
                        <div class="col-md-4 col-sm-6 team-member">
                            <div class="blog-snippet-1 image-snippet overlay">
                                <div class="background-image-holder">
                                    <img alt="Slide Background" class="background-image" src="{{ recipex.featuredImage }}">
                                </div>
                                <div class="text-content">
                                    <span class="date alt-font uppercase">{{ recipex.createdOn }}</span>
                                    <a href="/healthy/{{ recipex.slug }}"><h5>{{ recipex.title }}</h5></a>
                                    <p>{{ recipex.content|length > 100 ? recipex.content|slice(0, 100) ~ '...' : recipex.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h3>No Related Recipe Found!</h3>
                        <br/>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}