{% extends 'ChefFrontBundle::base.html.twig' %}

{% block nav_primary_class %}home-nav-hide{% endblock %}

{% block nav_alt %}
<div class="nav-container">
<nav class="nav-1 home-nav home-nav-show">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" class="home-link">
                    <img alt="Logo" class="logo" src="/templates/fleava_front/img/big_logo.png">
                    <h2>ChefsWork-Out <span>by NICOLA RUSSO</span></h2>
                </a>
                <ul class="menu pull-right">
                    <li><a href="#the_chef" class="inner-link" target="default">The Chef</a></li>
                    <li><a href="#the_journal" class="inner-link" target="default">The Journal</a></li>
                    <li><a href="/connect">Connect</a></li>
                </ul>

            </div>
        </div><!--end of row-->
    </div><!--end of container-->

    <div class="mobile-toggle">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <section class="hero-slider extended large-image fixed-header">

        <ul class="slides">
            {% for slider in sliders %}
            <li class="overlay fullscreen-element">
                <div class="hero_overlay"></div>
                <div class="background-image-holder parallax-background">
                    <img alt="Slide Background" class="background-image" src="{{ slider.reference.featuredImage }}">
                </div>
                <div class="container bottom-align-home">
                    <div class="row">
                        <div class="col-sm-7 col-md-6 nomargin">
                            <h1 class="text-white"><a href="{{ slider.getBackLink() }}">{{ slider.reference.title }}</a></h1>
                            {% set content = slider.reference.content|striptags %}
                            {% set content = content|length > 100 ? content|slice(0, 100) ~ '...' : content %}
                            <p class="text-white super-lead">{{ content }}</p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="main_menu_hero">
            <section class="no-pad large-cto home-cto">
                <div class="col-sm-4 cto">
                    <a href="/cuisine">
                        <div class=" image-tile">
                            <h3 class="text-white">Cuisine</h3>
                            <img src="/templates/fleava_front/img/icon-cuisine.png" class="large-icon-image" />
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 cto">
                    <a href="/workout">
                        <div class=" image-tile">
                            <h3 class="text-white">Work-Out</h3>
                            <img src="/templates/fleava_front/img/icon-workout.png" class="large-icon-image" />
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 cto">
                    <a href="/travel">
                        <div class="image-tile">
                            <h3 class="text-white">Travel</h3>
                            <img src="/templates/fleava_front/img/icon-travel.png" class="large-icon-image" />
                        </div>
                    </a>
                </div>
            </section>
        </div>

        <div class="hidden-s container flex-navi" id="flex-navi"></div>

    </section>

    <section class="duplicatable-content double-pad grey-bg" style="border-top: 8px solid #d0c472;">
        <div class="background-image-holder">
            <img alt="Slide Background" class="background-image" src="/templates/fleava_front/img/hero21.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <h3>{{ points.home.home_title1.content|raw }}</h3>
                    <a class="btn btn-lg btn-filled" href="http://www.bulgarihotels.com/it-it/bali/bar-and-restaurants/il-ristorante/il-ristorante">View The Restaurant</a>

                </div>

                <div class="col-md-4 col-sm-6">
                    <p class="md-lead">
                        {{ points.home.home_content1.content|raw }}
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!--<section class="duplicatable-content single-pad grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <h4> { points.home.home_title1.content|raw }}</h4>
                    <p class="lead">
                        {  points.home.home_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h4>{ points.home.home_title2.content|raw }}</h4>
                    <p class="lead">
                        { points.home.home_content2.content|raw }}
                    </p>
                </div>
            </div>
        </div>
    </section>-->


    <section class="text-divider" id="the_chef">
        <div class="background-image-holder">
            <img alt="Slide Background" class="background-image" src="{{ points.home.home_bg.content }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <h1 class="text-white">{{ points.home.home_cheftitle.content|raw }}</h1>
                    <p class="text-white lead">{{ points.home.home_chefdescription.content|raw }}</p>
                    <img src="/templates/fleava_front/img/signature.png" style="width:200px; height: auto;" /><br><br>
                    <a href="/chef" class="btn btn-filled">READ MORE</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'ChefFrontBundle:widget:w_journal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(window).load(function() {
            var url = window.location.href;
            var v = url.lastIndexOf("/") + 1;

            var tag = url.substring(v);
            if(tag == '#the_chef') {
                $("#tchef").click();
            }
        });

        $(".click-link-home").on('click', function() {
            var tag = $(this).data('tag');
            window.location.href='/'+tag;
        });

        $(".click-link").on('click', function() {
            var tag = $(this).data('tag');
            window.location.href='/workout'+tag;
        });
    </script>
{% endblock %}