{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="hero-slider large-image medium-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ journal.featuredImage }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                            <p class="super-lead text-white" style="margin-bottom:0">{{ journal.createdOn }}</p>
                            <h1 class="text-white">{{ journal.title }}</h1>

                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

    <section class="blog-snippets-1 grey-bg">
        <div class="container">

            <div class="row">
                <div class="col-md-9">

                    <div class="blog-content">
                        {{ journal.content|raw }}
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="sidebar">

                        <div class="widget">
                            <div class="search-bar">
                                <form class="search">
                                    <input type="text" placeholder="" name="search" />
                                    <input type="submit" value="" />
                                    <i class="pe-7s-search"></i>
                                </form>
                            </div>
                        </div><!--end of individual widget-->

                        <div class="widget">
                            <h5>Latest Journal</h5>
                            <ul class="link-list">
                                {% for lts in latest %}
                                    <li><a href="/journals/{{ lts.slug }}">{{ lts.title|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--end of individual widget-->

                        <div class="widget">
                            <h5>Tags</h5>
                            <ul class="tag-list">
                                {% for tag in journal.tags %}
                                    {% if not(tag.name == '') %}
                                        <li><a class="btn btn-sm" href="/journals?tag={{ tag.name }}">{{ tag.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div><!--end of individual widget-->


                    </div>
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </section>

    <div class="team-2 white-bg related">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>You may also like:<br><br></h2>

                </div>
            </div>

            <div class="row">
                {% for journal in related if related|length > 0 %}
                    <div class="col-md-4 col-sm-6 team-member">
                        <div class="blog-snippet-1 image-snippet overlay">
                            <a href="/journals/{{ journal.slug }}">
                                <div class="background-image-holder">
                                    <img alt="Slide Background" class="background-image" src="{{ journal.featuredImage }}">
                                </div>
                                <div class="text-content">
                                    <span class="date alt-font uppercase">{{ journal.createdOn }}</span>
                                    <h5>{{ journal.title }}</h5>
                                    {% set jc = journal.content|striptags %}
                                    <p>{{ jc|length > 100 ? jc|slice(0, 100) ~ '...' : jc }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <h3>No Related Journal Found!</h3>
                    <br/>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}