<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://themastermail.com/discount/demo/js/jquery-ui.min.js"></script>

    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">

        body{
            width: 600px;
            background-color: #ffffff;
            margin:0;
            padding:0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;
        }

        p,h1,h2,h3,h4{
            margin-top:0;
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
        }

        span.preheader{display: none; font-size: 1px;}

        html{
            width: 100%;
        }

        table{
            font-size: 14px;
            border: 0;
            transition: all .5s;
        }

        table td{
            transition: all .5s;
        }

        .action-btn{
            width: 30px;
            position: absolute;
            left: 10px;
            top: 35%;
            z-index: 2000;
        }
        a{
            transition: all .5s;
        }

        #promail{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #promail li{
            position: relative;
            cursor: n-resize;
        }

        .test{
            width: 100%;
            position: relative;
        }

        .test .icon {
            position: absolute;
            top: 2px;
            right: 2px;
        }

        #promail .test .icon img{width: 35px !important; height: 27px !important;}

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 798px){
            body[yahoo] .hide-800{display: none !important;}
            body[yahoo] .container800{width: 100% !important;}
            body[yahoo] .container800_img{width: 50% !important;}
            body[yahoo] .section800_img img{width: 100% !important; height: auto !important;}
            body[yahoo] .half-container800{width: 49% !important;}
        }


        @media only screen and (max-width: 640px){

            /*------ top header ------ */
            body[yahoo] .main-header{font-size: 25px !important;}
            body[yahoo] .main-section-header{font-size: 30px !important;}
            body[yahoo] .show{display: block !important;}
            body[yahoo] .hide{display: none !important;}
            body[yahoo] .align-center{text-align: center !important;}

            /*----- main image -------*/
            body[yahoo] .main-image img{width: 440px !important; height: auto !important;}

            /* ====== divider ====== */
            body[yahoo] .divider img{width: 440px !important;}

            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 440px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 440px !important;}
            body[yahoo] .container580{width: 400px !important;}
            body[yahoo] .container800{width: 440px !important;}
            body[yahoo] .container800_img{width: 100% !important;}
            body[yahoo] .section800_img img{width: 100% !important;}
            body[yahoo] .half-container{width: 220px !important;}
            body[yahoo] .main-button{width: 140px !important;}

            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 440px !important;}
            body[yahoo] .section-img img{width: 400px !important; height: auto !important;}
        }

        @media only screen and (max-width: 479px){
            /*------ top header ------ */
            body[yahoo] .main-header{font-size: 20px !important;}
            body[yahoo] .main-section-header{font-size: 28px !important;}
            /*----- main image -------*/
            body[yahoo] .main-image img{width: 280px !important; height: auto !important;}

            /* ====== divider ====== */
            body[yahoo] .divider img{width: 280px !important;}
            body[yahoo] .align-center{text-align: center !important;}

            /*--------- banner ----------*/
            body[yahoo] .banner img{width: 280px !important; height: auto !important;}
            /*-------- container --------*/
            body[yahoo] .container590{width: 100% !important;}
            body[yahoo] .container580{width: 270px !important;}
            body[yahoo] .container800{width: 100% !important;}
            body[yahoo] .container800_img{width: 100% !important;}
            body[yahoo] .section800_img img{width: 100% !important; height: auto !important;}
            body[yahoo] .wide-iphone{width: 210px !important;}
            body[yahoo] .half-container800{width: 100% !important;}
            body[yahoo] .main-button{width: 200px !important;}

            /*-------- secions ----------*/
            body[yahoo] .section-item{width: 280px !important;}
            body[yahoo] .section-item-iphone{width: 280px !important;}
            body[yahoo] .section-img img{width: 280px !important; height: auto !important;}
            body[yahoo] .section-iphone-img img{width: 280px !important; height: auto !important;}

            /*------- CTA -------------*/

            body[yahoo] .cta-btn img{width: 260px !important; height: auto !important;}
        }
        .name {
            width: 130px;
            color: #fff;
            top: 53px;
            font-weight: 400;
            text-transform: none;
            margin-left: -5px;
            line-height: 1;
            text-align: center;
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            text-decoration: none;
        }
        .name span {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #9c9da9;
            font-size: 9px;
            margin-top: 5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: block;
            font-weight: 400;
            text-decoration: none;
        }
        body, table.body, h1, h2, h3, h4, h5, h6, p, td {
            color: #222222;
            font-family: "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            padding:0;
            margin: 0;
            text-align: left;
            line-height: 1.3;
        }

        h1, h2, h3, h4, h5, h6 {
            word-break: normal;
        }

        h1 {font-size: 40px;}
        h2 {font-size: 36px;}
        h3 {font-size: 32px;}
        h4 {font-size: 28px;}
        h5 {font-size: 24px;}
        h6 {font-size: 20px;}
        body, table.body, p, td {font-size: 14px;line-height:19px;}
    </style>

</head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- ======= header ======= -->
    <ul id="promail" class="ui-sortable" style="list-style: none">
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
            <tbody>
            <tr>
                <td style="background-color: #F2F2F2">
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590" style="padding: 0px;width: 100% !important;background: rgba(30, 32, 34, .92);padding:0 10px 0 10px; margin: 0px;border-bottom: none">
                        <tbody>
                        <tr>
                            <td>
                                <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                    <tbody>
                                    <tr><td height="15" style="font-size: 23px; line-height: 15px;">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center">
                                            <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <a href="http://fleava.com/" title="Fleava | Bali Advertising Agency">
                                                            <img alt="Fleava | Bali Advertising Agency" class="mk-light-logo" src="http://cwo.breakme.web.id/templates/fleava_front/img/big_logo.png" style="width: 124px; height:auto;">
                                                            <h2 class="name" style="width: 130px;
            color: #fff;
            top: 53px;
            font-weight: 400;
            text-transform: none;
            margin-left: -5px;
            line-height: 1;
            text-align: center;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                            font-size: 16px;
                                                            text-decoration: none;">Chefs Work-Out <span style="font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                                color: #9c9da9;
                                                                font-size: 9px;
                                                                margin-top: 5px;
                                                                text-transform: uppercase;
                                                                letter-spacing: 1px;
                                                                display: block;
                                                                font-weight: 400;
                                                                text-decoration: none;">By Nicola Russo</span></h2>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height="15" style="font-size: 23px; line-height: 15px;">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <!-- ======= end header ======= -->


    <!-- ======= main section ======= -->
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="17191b">
            <tbody>
            <tr>
                <td align="center" style="background: url(http://themastermail.com/envato/eventix/img/main-bg.png) no-repeat top / 100% 100%; background-position: top center; background-repeat: no-repeat; background-size: cover;" background="http://themastermail.com/envato/eventix/img/main-bg.png" class="main-bg">
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <!-- ======= end section ======= -->


    <!-- ======= end section ======= -->



    <!-- ======= headline and large text ======= -->
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#EFF2F5" class="orange_bg">

            <tbody><tr class="hide"><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

            <tr>
                <td>
                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590" style="width: 100% !important;">

                        <tbody><tr>
                            <td style="color: #ffffff; font-size: 25px; font-family: Merriweather, Calibri, sans-serif; font-style: italic; line-height: 24px;" class="white_color">
                                <!-- ======= section text ====== -->

                                <div class="editable_text" style="padding: 10px">
                                    <h2>Hi, {{ chef }}</h2>
                                    <p class="lead">You got message from: {{ name }} - {{ email }}</p>
                                    <p>Created On: {{ "now"|date("m/d/Y") }}</p>
                                    <hr/>
                                    <p>{{ message }}</p>
                                </div>
                            </td>
                        </tr>

                        <tr><td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td></tr>


                        </tbody></table>
                </td>
            </tr>

            <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

            </tbody></table>
    </li>
    <!-- ======= end section ======= -->

    <!-- ======= footer ====== -->
    <li>
        <table border="0" width="100%" cellpadding="0" cellspacing="0" style="background: rgba(30, 32, 34, .92)" class="dark_bg2">

            <tbody><tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

            <tr>
                <td align="center">

                    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                        <tbody><tr>
                            <td align="center">

                                <table border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td align="center" class="footer-nav" style="color: #2c3e50; font-size: 14px; font-family: 'Open Sans', Calibri, sans-serif;line-height: 25px;">
                                            <div class="editable_text" style=" line-height: 25px;">
                                                <span class="text_container" style="color: white">

                                                    Copyright &copy; Chefworkout.com 2015

                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody></table>

                            </td>
                        </tr>

                        </tbody></table>
                </td>
            </tr>

            <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

            </tbody></table>
    </li>
    <li>
                <span style="color:#333333;font-size:9px;font-family:Trebuchet MS,Verdana,Arial,Helvetica,sans-serif">
                    notification has been sent to the email address associated with your account. <br>
                    This email message was auto-generated. Please do not respond.
                </span>
    </li>
    </ul>
    <!-- ======= end footer ====== -->
</body>
</html>