{% spaceless %}
    {% if lastPage > 1 %}
        {# the number of first and last pages to be displayed #}
        {% set extremePagesLimit = 3 %}

        {# the number of pages that are displayed around the active page #}
        {% set nearbyPagesLimit = 2 %}

        <nav class="text-center">
            <ul class="pagination">
                {% if currentPage > 1 %}
                    <li><a href="{{ paginationPath }}{{ currentPage-1 }}">&larr;</a></li>

                    {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                        <li class="disabled"><a href="#">...</a></li>
                    {% endif %}

                    {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% elseif showAlwaysFirstAndLast %}
                    <li><a href="#">Previous</a></li>
                {% endif %}

                <li class="active"><a href="#">{{ currentPage }}</a></li>

                {% if currentPage < lastPage %}
                    {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                        <li class="disabled"><a href="#">...</a></li>
                    {% endif %}

                    {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                        <li><a href="{{ paginationPath }}{{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    <li><a href="{{ paginationPath }}{{ currentPage+1 }}">&rarr;</a></li>
                {% elseif showAlwaysFirstAndLast %}
                    <li><a href="{{ paginationPath }}{{ currentPage+1 }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endspaceless %}