<div class="map-popup">
    <div class="image-wrap"><img src="{{ travel.featuredImage }}" /></div>
    <div class="popup-content">
        <h4>{{ travel.name }}</h4>
        <p>{{ travel.description|raw }}</p>
        <p><strong>{{ travel.address|raw }}</strong><br>{% if travel.website is defined and not(travel.website == '') %}<a href="{{ travel.website }}" target="_blank">{{ travel.website }}</a>{% endif %}</p>
    </div>
</div>