{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="hero-slider large-image short-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ points.recipe.recipe_bg.content }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                            <h1 class="text-white">{{ points.recipe.recipe_main_title.content|raw }}</h1>
                            <p class="super-lead text-white">{{ points.recipe.recipe_main_subtitle.content|raw }}</p>
                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

    <section class="blog-snippets-1 grey-bg">
        <div class="container">


            <div class="row">
                <div class="col-md-9 team-2">

                    {% for recipe in recipes %}
                    <div class="col-sm-6 team-member">
                        <a href="/recipes/{{ recipe.slug }}">
                            <img alt="team member" src="{{ recipe.featuredImage }}">
                            <h2>{{ recipe.title }}</h2>
                        </a>
                        {% autoescape %}
                        {% set content = recipe.content|length > 100 ? recipe.content|slice(0, 100) ~ '...' : recipe.content %}
                        <p>{{ content|raw }}</p>
                        {% endautoescape %}
                    </div>
                    {% endfor %}

                    {% include 'ChefFrontBundle::pagination.html.twig' with {
                    currentPage: pagination.page,
                    paginationPath: pagination.url,
                    lastPage:  pagination.lastPage,
                    showAlwaysFirstAndLast: false
                    } only %}
                </div>

                <div class="col-md-3">
                    {% include 'ChefFrontBundle:widget:widget-recipe.html.twig' %}
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </section>
{% endblock %}