{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="text-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h5>{{ recipe.createdOn }}</h5>
                        {% set dinner = recipe.dinnerMenu|first %}
                        {% set recipeMenu = recipe.recipeMenu|first %}
                        <h1 class="contrast-h1"><strong>{{ recipe.title }}</strong><br> {{ recipeMenu.name }}, {{ dinner.name }} </h1>
                    </div>
                </div>
            </div><!--end of row-->

            <div class="row">
                <div class="col-sm-6">
                    <p class="lead">
                        {{ recipe.firstParagraph|raw }}
                    </p>
                </div>

                <div class="col-sm-6">
                    <p class="lead">
                        {{ recipe.secondParagraph|raw }}
                    </p>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>

    <section class="hero-slider large-image">
        <ul class="slides">
            <li>
                <div class="background-image-holder">
                    <img alt="Slide Background" class="background-image" src="{{ recipe.featuredImage }}">
                </div>

                <!--end of container-->
            </li>
        </ul>
    </section>

    <section class="blog-snippets-1 grey-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 js-masonry" data-masonry-options='{ "itemSelector": ".masonry-item" }'>
                    {% for preparation in recipe.preparations %}
                    <div class="col-sm-6 masonry-item">
                        <div class="blog-snippet-1">
                            <div class="text-block">
                                <h5>INGREDIENTS TO PREPARE {{ preparation.preparation }}:</h5>
                                <ul>
                                    {% for ingredient in preparation.ingredients %}
                                    <li>{{ ingredient.content }}</li>
                                    {% endfor %}
                                </ul>

                                <h5>METHOD TO PREPARE {{ preparation.preparation }}:</h5>
                                <p>
                                    {{ preparation.method|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-sm-6 masonry-item">
                        <img alt="team member" src="{{ recipe.presentation.featuredImage }}">
                    </div>

                    <div class="col-sm-6 masonry-item">
                        <div class="blog-snippet-1">
                            <div class="text-block">
                                <h5>PRESENTATION:</h5>
                                <ul>
                                    {% for step in recipe.presentation.steps %}
                                    <li>{{ step.content }}</li>
                                    {% endfor %}
                                </ul>

                                <h5>{{ recipe.presentation.title }}:</h5>
                                <p>
                                    {{ recipe.presentation.tips }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>

                </div>

                <div class="col-md-3">
                    {% include 'ChefFrontBundle:widget:widget-recipe.html.twig' %}
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </section>

    <div class="team-2 white-bg related">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>You may also like:<br><br></h2>

                </div>
            </div>

            <div class="row">

                {% for recipex in related if related|length > 0 %}
                <div class="col-md-4 col-sm-6 team-member">
                    <div class="blog-snippet-1 image-snippet overlay">
                        <div class="background-image-holder">
                            <img alt="Slide Background" class="background-image" src="{{ recipex.featuredImage }}">
                        </div>
                        <div class="text-content">
                            <span class="date alt-font uppercase">{{ recipex.createdOn }}</span>
                            <a href="/recipes/{{ recipex.slug }}"><h5>{{ recipex.title }}</h5></a>
                            <p>{{ recipex.firstParagraph|length > 100 ? recipex.firstParagraph|slice(0, 100) ~ '...' : recipex.firstParagraph }}</p>
                        </div>
                    </div>
                </div>
                    {% else %}
                    <h3>No Related Recipe Found!</h3>
                    <br/>
                {% endfor %}


            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'templates/fleava_front/js/masonry.min.js'

    output='templates/dump/js/compiled_masonry.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    'templates/fleava_front/js/imageloaded.min.js'

    output='templates/dump/js/compiled_imageloaded.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(window).load(function() {
            var $container = $('.js-masonry');
            $container.masonry({
                itemSelector: '.masonry-item'
            });
        });
    </script>
{% endblock %}