{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="fullwidth-map">
	 <div id="colors">
        <div class="btn-group">
	         <button type="button" class="btn btn-filled btn-sm dropdown-toggle"> Filters <span class="caret"></span> </button>
        <ul class="dropdown-menu" role="menu"> </ul>
        </div>
        </div>
        <div class="map-holder" id="map-canvas"> </div>
    </section>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" type="text/javascript"></script>

    {% javascripts
    'templates/fleava_front/js/gmap3.min.js'
    'templates/fleava_front/js/map2.js'

    output='templates/dump/js/compiled1.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}