{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="hero-slider large-image medium-header fixed-header">
        <ul class="slides">
            <li class="overlay">
                <div class="background-image-holder background-parallax">
                    <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_bg.content }}">
                </div>

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img src="/templates/fleava_front/img/logo-workout.png" style="width:130px; height:auto; margin-bottom:10px;" />
                            <h1 class="text-white">Work-Out</h1>
                        </div>
                    </div>
                </div><!--end of container-->
            </li>
        </ul>
    </section>

    <div role="tabpanel">

    <section class="no-pad large-cto nav nav-tabs" role="tablist">
        <div class="col-sm-4 cto active" role="presentation">
            <a href="#introduction" aria-controls="introduction" role="tab" data-toggle="tab">
                <div class=" image-tile">
                    <h2 class="text-white">Introduction</h2>
                    <p class="text-white">
                        {{ points.global.wo_tab_1.content }}
                    </p>
                    <i class="large-icon pe-7s-note2"></i>
                </div>
            </a>
        </div>

        <div class="col-sm-4 cto" role="presentation">
            <a href="#highintens" aria-controls="highintens" role="tab" data-toggle="tab">
                <div class=" image-tile">
                    <h2 class="text-white">High intensity training</h2>
                    <p class="text-white">
                        {{ points.global.wo_tab_2.content }}
                    </p>
                    <i class="large-icon pe-7s-stopwatch"></i>
                </div>
            </a>
        </div>

        <div class="col-sm-4 cto" role="presentation">
            <a href="#diet" aria-controls="diet" role="tab" data-toggle="tab">
                <div class=" image-tile">
                    <h2 class="text-white">Fitness and diet</h2>
                    <p class="text-white">
                        {{ points.global.wo_tab_3.content }}
                    </p>
                    <i class="large-icon pe-7s-bicycle"></i>
                </div>
            </a>
        </div>



    </section>

    <div class="tab-content white-bg">

    <!-- INTRODUCTION -->

    <div role="tabpanel" class="tab-pane fade in active" id="introduction">

        <section class="duplicatable-content single-pad grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-block text-center">
                            <div class="detail-line"></div>
                            <h1 class="contrast-h1"><strong>{{ points.introduction.woin_title1.content|raw }}</strong><br> {{ points.introduction.woin_subtitle1.content|raw }}</h1>
                        </div>
                    </div>
                </div><!--end of row-->
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <p class="lead">
                            {{ points.introduction.woin_content1.content|raw }}
                        </p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <p class=" lead">
                            {{ points.introduction.woin_content2.content|raw }}
                        </p>
                        <p class="super-lead">
                            {{ points.introduction.woin_content3.content|raw }}
                        </p>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </section>

        <section class="double-pad">
            <div class="background-image-holder overlay">
                <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_mid_bg2.content }}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <p class="text-white super-lead">
                            {{ points.introduction.woin_mid_content1.content|raw }}
                        </p>
                        {{ points.introduction.woin_mid_content2.content|raw }}
                        <br/>

                    </div>
                </div>
            </div>

        </section>

        <section class="col-2-text">
            <div class="container">
                <div class="row">
                    <div class="detail-line"></div>
                    <div class="col-sm-6">
                        <p class="lead">
                            {{ points.introduction.woin_low_content1.content|raw }}
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="super-lead">
                            {{ points.introduction.woin_low_content2.content|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </section>




        <section class="no-pad">
            <div class="col-md-6 feature-box">
                <div class="background-image-holder">
                    <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_ns_bg1.content|raw }}">
                </div>

                <div class="content">
                    <h5 class="text-white" style="margin:0;">Next Section:</h5>
                    <h3 class="text-white">High Intensity Training</h3>
                    <p class="text-white" style="max-width:400px;">{{ points.introduction.woin_ns_content1.content|raw }}</p>
                    <a class="btn btn-sm click-link-section" data-id="#highintens" aria-controls="highintens" role="button" data-toggle="tab">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 feature-box">
                <div class="background-image-holder overlay-light-gradient">
                    <img alt="Slide Background" class="background-image" src="{{ points.introduction.woin_ns_bg2.content }}">
                </div>

                <div class="content">
                    <h5 style="margin:0;">Last Section:</h5>
                    <h3>Fitness &amp; Diet</h3>
                    <p style="max-width:400px;">
                        {{ points.introduction.woin_ns_content2.content|raw }}
                    </p>
                    <a class="btn btn-sm click-link-section" data-id="#diet" aria-controls="diet" role="tab" data-toggle="tab">Learn More</a>
                </div>
            </div>
        </section>
    </div>

    <!-- HIGH INTENS -->

    <div role="tabpanel" class="tab-pane fade" id="highintens">

        <section class="col-3-text grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="text-block">
                            <div class="detail-line"></div>
                            <h1>{{ points.wohi.wohi_title.content|raw }}</h1>
                            <p class="super-lead">
                                {{ points.wohi.wohi_content.content|raw }}
                            </p>
                        </div>
                    </div>
                </div><!--end of row-->
                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <img alt="team member" src="{{ points.wohi.wohi_bg1.content }}">
                    </div>

                    <div class="col-sm-4">
                        <p class="lead">
                            {{ points.wohi.wohi_md1.content|raw }}
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p class="lead">
                            {{ points.wohi.wohi_md2.content|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <section class="text-divider double-pad ">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_low_bg.content }}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <h5 class="text-white">{{ points.wohi.wohi_low_title.content|raw }}</h5>
                        <p class="text-white super-lead">
                            {{ points.wohi.wohi_low_content.content|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">

                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <p class="lead">
                            {{ points.wohi.wohi_md_title1.content|raw }}
                        </p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <p class=" lead ">
                            {{ points.wohi.wohi_md_title2.content|raw }}
                        </p>
                    </div>
                </div><!--end of row-->
            </div>
        </section>

        <section class="double-pad">
            <div class="background-image-holder overlay">
                <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_poster_bg.content }}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <p class="text-white super-lead">
                            {{ points.wohi.wohi_poster_title.content|raw }}
                        </p>
                        {{ points.wohi.wohi_poster_content.content|raw }}
                        <br/>

                    </div>
                </div>
            </div>

        </section>


        <section class="" style="padding:100px 0 150px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 pricing-tables-2">
                        <div class="col-sm-4" style="padding-right:20px;">
                            <p class="super-lead">{{ points.wohi.wohi_doll_title.content|raw }}</p>
                            <p class="lead">
                                {{ points.wohi.wohi_tanggungjawab.content|raw }}
                            </p>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-table-2">
                                <h2 class="uppercase">{{ points.wohi.wohi_title_exer1.content|raw }}</h2>
                                <ul>
                                    {{ points.wohi.wohi_content_exer1.content|raw }}
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-table-2">
                                <h2 class="uppercase">{{ points.wohi.wohi_title_exer2.content|raw }}</h2>
                                <ul>
                                    {{ points.wohi.wohi_content_exer2.content|raw }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-pad">
            <div class="col-md-6 feature-box">
                <div class="background-image-holder">
                    <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_bg_foot1.content }}">
                </div>

                <div class="content">
                    <h5 class="text-white" style="margin:0;">Previous Section:</h5>
                    <h3 class="text-white">{{ points.wohi.wohi_title_foot1.content|raw }}</h3>
                    <p class="text-white" style="max-width:400px;">{{ points.wohi.wohi_content_foot1.content|raw }}</p>
                    <a class="btn btn-sm click-link-section" data-id="#introduction" aria-controls="introduction" role="tab" data-toggle="tab">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 feature-box">
                <div class="background-image-holder overlay-light-gradient">
                    <img alt="Slide Background" class="background-image" src="{{ points.wohi.wohi_bg_foot2.content }}">
                </div>

                <div class="content">
                    <h5 style="margin:0;">Next Section:</h5>
                    <h3>{{ points.wohi.wohi_title_foot2.content|raw }}</h3>
                    <p style="max-width:400px;">{{ points.wohi.wohi_content_foot2.content|raw }}</p>
                    <a class="btn btn-sm click-link-section" data-id="#diet" aria-controls="diet" role="tab" data-toggle="tab">Learn More</a>
                </div>
            </div>
        </section>


    </div>

    <!-- DIET -->

    <div role="tabpanel" class="tab-pane fade" id="diet">

    <section class="grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1>{{ points.wofd.wofd_title.content|raw }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <p class="super-lead">
                        {{ points.wofd.wofd_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <p class="lead">
                        {{ points.wofd.wofd_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <p class=" lead">
                        {{ points.wofd.wofd_content2.content|raw }}
                    </p>
                    <p class="super-lead">{{ points.wofd.wofd_content3.content|raw }}</p>
                </div>
            </div><!--end of row-->
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4>{{ points.wofd.wofd_rcp_title1.content|raw }}</h4>
                        {{ points.wofd.wofd_rcp_content1.content|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.wofd.wofd_rcp_bg1.content }}">
            </div>
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4>{{ points.wofd.wofd_rcp_title2.content|raw }}</h4>
                        <p>{{ points.wofd.wofd_rcp_content2.content|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-left">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.wofd.wofd_rcp_bg2.content }}">
            </div>
        </div>
    </section>

    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h4>{{ points.wofd.wofd_rcp_title3.content|raw }}</h4>
                        {{ points.wofd.wofd_rcp_content3.content|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="{{ points.wofd.wofd_rcp_bg3.content|raw }}">
            </div>
        </div>
    </section>


    <section class="grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1>{{ points.wofd.wofd_mdl_title.content|raw }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <p class="super-lead">
                        {{ points.wofd.wofd_mdl_subtitle.content|raw }}
                    </p>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <p class="lead">
                        {{ points.wofd.wofd_mdl_content1.content|raw }}
                    </p>
                    <p class="super-lead"><strong>{{ points.wofd.wofd_mdl_link.content|raw }} </strong><strong>&rarr;</strong></p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <p class="lead">{{ points.wofd.wofd_mdl_content2.content|raw }}</p>
                </div>
            </div><!--end of row-->
        </div>
    </section>

    <section class="double-pad">
        <div class="background-image-holder overlay">
            <img alt="Slide Background" class="background-image" src="{{ points.wofd.wofd_low_bg.content }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <h1 class="text-white">{{ points.wofd.wofd_low_title.content|raw }}</h1>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <h3 class="text-white">{{ points.wofd.wofd_low_content_title1.content|raw }}</h3>
                    <p class="text-white">
                        {{ points.wofd.wofd_low_content1.content|raw }}
                    </p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <h3 class="text-white">{{ points.wofd.wofd_low_content_title2.content|raw }}</h3>
                    <p class="text-white">{{ points.wofd.wofd_low_content2.content|raw }}</p>
                </div>
            </div><!--end of row-->
        </div>

    </section>


    <section class="grey-bg col-3-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <h1>{{ points.wofd.wofd_ug_title.content|raw }}</h1>
                    <p class="super-lead">{{ points.wofd.wofd_ug_subtitle.content|raw }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p class="super-lead">{{ points.wofd.wofd_ug_content_title1.content|raw }}</p>
                    <p class="lead">
                        {{ points.wofd.wofd_ug_content1.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="super-lead">{{ points.wofd.wofd_ug_content_title2.content|raw }}</p>
                    <p class="lead">
                        {{ points.wofd.wofd_ug_content2.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="super-lead">{{ points.wofd.wofd_ug_content_title3.content|raw }}</p>
                    <p class="lead">
                        {{ points.wofd.wofd_ug_content3.content|raw }}
                    </p>
                </div>

            </div>
        </div>
    </section>


    <section class="white-bg col-3-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10">
                    <div class="detail-line"></div>
                    <p class="super-lead">{{ points.wofd.wofd_lgm_title.content|raw }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <img alt="team member" src="{{ points.wofd.wofd_lgm_bg.content }}">
                </div>

                <div class="col-sm-4">
                    <p class="lead">
                        {{ points.wofd.wofd_lgm_content1.content|raw }}
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="lead">
                        {{ points.wofd.wofd_lgm_content2.content|raw }}
                    </p>
                </div>

            </div>
        </div>
    </div>
    </section>


    </div>

    </div>

    </div>

    {% include 'ChefFrontBundle:widget:w_journal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    $(function () {
        $(".click-link").on('click', function() {
            var tag = $(this).data('tag');
            $this = $(".cto").find("a[href="+tag+"]");

            $this.click();
        });

        $(".click-link-section").on('click', function() {
            var id = $(this).data('id');
            var $window = $(window);

            $target = $(".cto").find("a[href="+id+"]");

            var finalScroll = 0;
            $target.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        });

        var url = window.location.href;

        var index = url.indexOf("#");
        if(url.indexOf("#") > -1) {
            var id = url.substring(index);
            var $window = $(window);

            $this = $(".cto").find("a[href="+id+"]");
            var finalScroll = $this.offset().top - 60;
            $this.click();

            TweenMax.to($window, 0.4, {
                scrollTo : finalScroll,
                ease: Power1.easeOut,
                overwrite: 5
            });
        }
    });
</script>
{% endblock %}