{% extends 'ChefFrontBundle::base.html.twig' %}

{% block content %}
    <section class="team-2 mediumdark-bg lightbox-gallery1" id="the_journal" style="padding-top: 150px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="text-white">{{ points.feed.wofeed_title1.content|raw }}</h1>
                    <p class="text-white lead">
                        {{ points.feed.wofeed_subtitle1.content|raw }}
                    </p>
                </div>
            </div>

            <div class="row">

                {% for feed in feeds %}
                    <div class="col-md-4 col-sm-6 team-member">
                        <div class="blog-snippet-1 image-snippet woblog overlay">
                            <div class="background-image-holder">
                                <img alt="Slide Background" class="background-image" src="{{ feed.featuredImage }}">
                            </div>
                            <div class="text-content">
                                <span class="date alt-font uppercase">{{ feed.createdOn|date("F n Y") }}</span>
                                <h5>{{ feed.title|raw }}</h5>
                                <p>{{ feed.content|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            {% include 'ChefFrontBundle::pagination.html.twig' with {
            currentPage: pagination.page,
            paginationPath: pagination.url,
            lastPage:  pagination.lastPage,
            showAlwaysFirstAndLast: false
            } only %}
        </div>
    </section>
{% endblock %}