{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'templates/fleava_admin/bs3/css/bootstrap.min.css'
    'templates/fleava_admin/css/bootstrap-reset.css'
    'templates/fleava_admin/font-awesome/css/font-awesome.css'
    'templates/fleava_admin/css/style.css'
    'templates/fleava_admin/css/style-responsive.css'
    'templates/fleava_admin/js/iCheck/skins/minimal/minimal.css'
    'templates/fleava_admin/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    '@ChefAdminBundle/Resources/public/css/custom-backend.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_base.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="/admin" class="logo"><img src="/templates/fleava_admin/images/logo.png" alt=""></a>
            <div class="sidebar-toggle-box"><div class="fa fa-bars"></div></div>
        </div>
        <!--logo end-->

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="/templates/fleava_admin/images/avatar1_small.jpg">
                        <span class="username">Nicola Russo</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="/admin/logout"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="sub-menu">
                        <a href="/">
                            <i class="fa fa-globe"></i>
                            <span>My Site</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/journal' in path ? 'active' : '' }}">
                            <i class="fa fa-stack-overflow"></i>
                            <span>Journal</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/journal'] or '/admin/journal/edit' in path ? 'active' : '' }}"><a href="/admin/journal">View all</a></li>
                            <li class="{{ path in ['/admin/journal/add'] ? 'active' : '' }}"><a href="/admin/journal/add">Add a New Journal</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/chef-recipes' in path ? 'active' : '' }}">
                            <i class="fa fa-star-o"></i>
                            <span>Chef Recipes</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/chef-recipes'] or '/admin/chef-recipes/edit' in path ? 'active' : '' }}"><a href="/admin/chef-recipes">View all</a></li>
                            <li class="{{ path in ['/admin/chef-recipes/add'] ? 'active' : '' }}"><a href="/admin/chef-recipes/add">Add a New Recipes</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/healthy-recipes' in path ? 'active' : '' }}">
                            <i class="fa fa-heart-o"></i>
                            <span>Healthy Recipes</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/healthy-recipes'] or '/admin/healthy-recipes/edit' in path ? 'active' : '' }}"><a href="/admin/healthy-recipes">View all</a></li>
                            <li class="{{ path in ['/admin/healthy-recipes/add'] ? 'active' : '' }}"><a href="/admin/healthy-recipes/add">Add a New Recipes</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/gallery' in path ? 'active' : '' }}">
                            <i class="fa fa-camera"></i>
                            <span>The Food Gallery</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/gallery'] or '/admin/gallery/edit' in path ? 'active' : '' }}"><a href="/admin/gallery">View all</a></li>
                            <li class="{{ path in ['/admin/gallery/add'] ? 'active' : '' }}"><a href="/admin/gallery/add">Add a New Image</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/workout-feeds' in path ? 'active' : '' }}">
                            <i class="fa fa-rss"></i>
                            <span>Workout Feeds</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/workout-feeds'] or '/admin/workout-feeds/edit' in path ? 'active' : '' }}"><a href="/admin/workout-feeds">View all</a></li>
                            <li class="{{ path in ['/admin/workout-feeds/add'] ? 'active' : '' }}"><a href="/admin/workout-feeds/add">Add a New Image</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ '/admin/travel' in path ? 'active' : '' }}">
                            <i class="fa fa-globe"></i>
                            <span>Travel</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/travel'] or '/admin/travel/edit' in path ? 'active' : '' }}"><a href="/admin/travel">View all</a></li>
                            <li class="{{ path in ['/admin/travel/add'] ? 'active' : '' }}"><a href="/admin/travel/add">Add a New Travel</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="{{ path in ['/admin/pages', '/admin/connect-company', '/admin/connect', '/admin/slider', '/admin/'] ? 'active' : '' }}">
                            <i class="fa fa-wrench"></i>
                            <span>Configuration</span>
                        </a>
                        <ul class="sub">
                            <li class="{{ path in ['/admin/pages'] ? 'active' : '' }}"><a href="/admin/pages">Page Manager</a></li>
                            <li class="{{ path in ['/admin/connect'] or '/admin/' == path ? 'active' : '' }}"><a href="/admin/connect">Connect</a></li>
                            <li class="{{ path in ['/admin/connect-company'] == path ? 'active' : '' }}"><a href="/admin/connect-company">Company</a></li>
                            <li class="{{ path in ['/admin/slider'] ? 'active' : '' }}"><a href="/admin/slider">Slider</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            {% for flashMessage in app.session.flashbag.get('message') %}
                {% if flashMessage.code == 200 %}

                        {% if flashMessage.message is defined %}
                            <div class="alert alert-success" role="alert">{{ flashMessage.message }}</div>
                        {% else %}
                            {% if flashMessage.type == 'update' %}
                                <div class="alert alert-info" role="alert">
                                <strong>Well done!</strong> You successfully update this data.</div>
                            {% elseif flashMessage.type == 'insert'  %}
                                <div class="alert alert-success" role="alert">
                                    <strong>Well done!</strong> You successfully add new data.
                                </div>
                            {% elseif flashMessage.type == 'delete' %}
                                <div class="alert alert-warning" role="alert">
                                    <strong>Well done!</strong> You successfully delete this data.
                                </div>
                            {% endif %}
                        {% endif %}

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong>.
                    </div>
                {% endif %}
            {% endfor %}

            <!-- page start-->
                {% block page_content %}{% endblock %}
            <!-- page end-->
        </section>
    </section>

    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'templates/fleava_admin/js/jquery.js'
        'templates/fleava_admin/bs3/js/bootstrap.min.js'
        'templates/fleava_admin/js/jquery.dcjqaccordion.2.7.js'
        'templates/fleava_admin/js/jquery.scrollTo.min.js'
        'templates/fleava_admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js'
        'templates/fleava_admin/js/jquery.nicescroll.js'
        'templates/fleava_admin/js/jquery.js'
        'templates/fleava_admin/js/scripts.js'
        'templates/fleava_admin/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
        'templates/fleava_admin/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js'

        output='templates/admindump/js/compiled_base.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}