{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'templates/fleava_admin/bs3/css/bootstrap.min.css'
    'templates/fleava_admin/css/bootstrap-reset.css'
    'templates/fleava_admin/font-awesome/css/font-awesome.css'
    'templates/fleava_admin/css/style.css'
    'templates/fleava_admin/css/style-responsive.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_login.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body_attr %}class="login-body"{% endblock %}

{% block body %}
    <div class="container">
        <img src="/templates/fleava_admin/images/logo.png" alt="" style="width:120px; height:auto; position: absolute;left: 50%;margin-left: -60px;top: 20px;">
        <form class="form-signin" method="post">

            <br >
            <div class="login-wrap">
                <div class="user-login-info">
                    <input type="text" class="form-control" name="username" placeholder="User ID" autofocus>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>

            </div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Forgot Password ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Enter your e-mail address below to reset your password.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-success" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

        </form>

    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'templates/fleava_admin/js/jquery.js'
    'templates/fleava_admin/bs3/js/bootstrap.min.js'
    'templates/fleava_admin/js/jquery.dcjqaccordion.2.7.js'
    'templates/fleava_admin/js/jquery.scrollTo.min.js'
    'templates/fleava_admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js'
    'templates/fleava_admin/js/jquery.nicescroll.js'
    'templates/fleava_admin/js/jquery.js'
    'templates/fleava_admin/js/scripts.js'

    output='templates/admindump/js/compiled_login.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}