@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/bebasneue-webfont.eot');
  src: url('../fonts/bebas/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebas/bebasneue-webfont.woff2') format('woff2'),
       url('../fonts/bebas/bebasneue-webfont.woff') format('woff'),
       url('../fonts/bebas/bebasneue-webfont.ttf') format('truetype'),
       url('../fonts/bebas/bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

h1,h2 { text-transform: uppercase; font-family: 'Bebas','Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif; }
h3,h4,h5,h6 {font-family: 'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;}
p.super-lead{ font-family: 'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif; }