{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'templates/fleava_admin/js/advanced-datatable/css/demo_page.css'
    'templates/fleava_admin/js/advanced-datatable/css/demo_table.css'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_table.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Active Slider
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th width="100">Thumbnail</th>
                                    <th style="width: 50%">Title</th>
                                    <th>Created On</th>
                                    <th class="hidden-phone">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for slider in sliders %}
                                <tr class="gradeX">
                                    <td><img src="{{ slider.reference.featuredImage }}" alt="" width="60" height="60"></td>
                                    <td>
                                        <a href="{{ slider.getAdminBackLink }}">
                                            <strong>{{ slider.reference.title }}</strong>
                                        </a>
                                        <br>
                                        {% set content = slider.reference.content %}
                                        {{ content|length > 50 ? content|slice(0,50) ~ '...' : content  }}
                                    </td>
                                    <td>{{ slider.createdOn }}</td>
                                    <td class="hidden-phone">
                                        {{ slider.getName }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'templates/fleava_admin/js/advanced-datatable/js/jquery.dataTables.js'
    'templates/fleava_admin/js/data-tables/DT_bootstrap.js'
    '@ChefAdminBundle/Resources/public/js/feed_tbl_custom.js'

    output='templates/admindump/js/compiled_table.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}