<section class="team-2 grey-bg lightbox-gallery1" id="the_journal">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <div class="edit-area">
                    <h1 class="border-edit editable-area" id="editor1" contenteditable="true" data-name="{{ points.journal.journal_title.alias }}">{{ points.journal.journal_title.content|raw }}</h1>
                </div>
                <div class="edit-area">
                    <p class="lead border-edit editable-area" id="editor1" contenteditable="true" data-name="{{ points.journal.journal_subtitle.alias }}">
                        {{ points.journal.journal_subtitle.content|raw }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            {% for journal in journals %}
                <div class="col-md-4 col-sm-6 team-member">
                    <div class="blog-snippet-1 image-snippet overlay">
                        <a href="/journals/{{ journal.slug }}">
                            <div class="background-image-holder">
                                <img alt="Slide Background" class="background-image" src="{{ journal.featuredImage }}">
                            </div>
                            <div class="text-content">
                                <span class="date alt-font uppercase">{{ journal.createdOn|date("F nS Y") }}</span>
                                <h5>{{ journal.title|striptags }}</h5>
                                {% set jc = journal.content|striptags %}
                                <p>{{ jc|length > 100 ? jc|slice(0, 100) ~ '...' : jc }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn btn-filled" href="/journals">Explore the Journal</a>
                </div>
            </div>

        </div>

    </div>
</section>