<section class="contact-1 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-md-offset-1">
                <div class="text-block">
                    <div class="detail-line"></div>
                    <h4 class="text-white">{{ company.title }}</h4>
                    <p class="text-white">
                        {{ company.company }} <br><br>{{ company.address|raw }}
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="contact-method">
                    <i class="icon pe-7s-phone"></i>
                    <span class="text-white">Tel {{ company.phone }}<br>{% if company.fax|length > 0 %}Fax {{ company.fax }}{% endif %}</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="contact-method">
                    <i class="icon pe-7s-mail-open-file"></i>
                    <span class="text-white">
                        {% for email in company.email %}
                            {{ email }}<br/>
                        {% endfor %}
                    </span>
                </div>
            </div>



        </div>
    </div>
</section>