<div class="sidebar">

    <div class="widget">
        <div class="search-bar">
            <form class="search">
                <input type="text" placeholder="" name="search" />
                <input type="submit" value="" />
                <i class="pe-7s-search"></i>
            </form>
        </div>
    </div><!--end of individual widget-->

    <div class="widget">
        <h5>Dinner Menu</h5>
        <ul class="link-list">
            {% for dinnerMenu in dinnerMenus %}
                <li><a href="/healthy?dmctg={{ dinnerMenu.name }}">{{ dinnerMenu.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!--end of individual widget-->

    <div class="widget">
        <h5>Recipe Menu</h5>
        <ul class="link-list">
            {% for recipeMenu in recipeMenus %}
                <li><a href="/healthy?rmctg={{ recipeMenu.name }}">{{ recipeMenu.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!--end of individual widget-->

    <div class="widget">
        <h5>Tags</h5>
        <ul class="tag-list">
            {% for tag in recipe.tags if recipe.tags|length > 0 %}
                {% if not(tag.name == '') %}
                    <li><a class="btn btn-sm" href="/healthy?tag={{ tag.name }}">{{ tag.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div><!--end of individual widget-->

</div>