{% extends 'ChefAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.css'

    filter='cssrewrite'
    output='templates/admindump/css/compiled_tags.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <form role="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/journal/add">
        <div class="row">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <button type="submit"  class="btn btn-compose">
                            <i class="fa fa-flag"></i>
                            {% if journal is defined %}
                                Update
                            {% else %}
                                Publish
                            {% endif %}
                        </button>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <label for="slidetoggle">Set as slider ?</label>
                        <input id="slidetoggle" type="checkbox" name="isSlider" {{ journal.slider is defined and not(journal.slider == null) ? 'checked' : '' }}>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Featured Image</h4> </li>
                            {% if journal is defined %}
                                <li>
                                    <img src="{{ journal.featuredImage }}" class="image-preview-widget">
                                </li>
                            {% endif %}
                            <li><input type="file" name="image" {% if not(journal is defined) %}required="required"{% endif %}></li>
                            {% if journal is defined %}
                                <input type="hidden" name="id" value="{{ journal.id }}" />
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li> <h4>Tags</h4> </li>
                            <li>
                                <input id="tags_1" type="text" class="tags" value="
                                {% if journal is defined %}
                                    {% for tag in journal.tags %}
                                        {% if loop.last %}
                                            {{ tag.name }}
                                        {% else %}
                                            {{ tag.name~',' }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                " name="tags" />
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">

                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            {% if journal is defined %}
                                Update Journal - {{ journal.title }}
                            {% else %}
                                Add a New Journal
                            {% endif %}
                        </h4>
                    </header>
                    <div class="panel-body">
                        <div class="compose-mail">
                            <div class="form-group">
                                <label for="title" class="">Title</label>
                                <input type="text" tabindex="1" id="title" name="title" class="form-control" value="{% if journal is defined %}{{ journal.title }}{% endif %}" required="required">
                            </div>

                            <div class="compose-editor">
                                <textarea class="wysihtml5 form-control" rows="10" name="content" placeholder="Journal.." required="required">{% if journal is defined %}{{ journal.content }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'templates/fleava_admin/js/jquery-tags-input/jquery.tagsinput.js'

    output='templates/admindump/js/compiled_tags.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        //tag input
        $('#tags_1').tagsInput({width: 'auto'});

        $('.wysihtml5').wysihtml5();
    </script>
{% endblock %}